{% extends "framemaster.html" %}
{% block js %}
{% endblock %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Create new page')}}</h1>
    {% endblock %}
    <form class="form-validate horizontal-form validate" method="POST" action="{{url}}">  
        {{ formmacros.form_field(form.title, class="required span8", maxlength=300, placeholder=_('Page title')) }}
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('Create page')}}">
        {% endblock %}
    </form>
{% endblock %}
