{% extends "_m/barcamps/master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>Seite bearbeiten</h1>
    {% endblock %}
    <form class="form-validate horizontal-form validate" method="POST" action="{{url}}">  
        {{ formmacros.form_field(form.title, class="required span8", maxlength=300, placeholder=_('page title')) }}
        {{ formmacros.form_field(form.menu_title, class="required span8", maxlength=50, placeholder=_('short title for menu')) }}
        {{ formmacros.form_field(form.slug, class="required span8", placeholder=_('short name for URL')) }}
        {{ formmacros.form_field(form.content, class="required span8", rows=10) }}
        {{ formmacros.form_field(form.image, class="span5", 
                label=_("Upload"), delete_label=_("Delete"), revert_label=_("Cancel"),
                upload_url=url_for("asset_upload", slug = slug))}}
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('Save changes')}}">
        {% endblock %}
    </form>
{% endblock %}
