{% extends "_m/barcamps/master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>Seite bearbeiten</h1>
    {% endblock %}
    <form class="form-validate horizontal-form validate" method="POST" action="{{url}}">  
        {{ formmacros.form_field(form.title, class="required span8", maxlength=300, placeholder="Seitentitel") }}
        {{ formmacros.form_field(form.menu_title, class="required span8", maxlength=50, placeholder="Kurztitel für das Menü") }}
        {{ formmacros.form_field(form.slug, class="required span8", placeholder="Bezeichnung in der URL") }}
        {{ formmacros.form_field(form.content, class="required span8", rows=10) }}
        {{ formmacros.form_field(form.image, class="span5", 
                label="Bild hochladen", delete_label="Löschen", revert_label="Zurücksetzen",
                upload_url=url_for("asset_upload", slug = slug))}}
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="SEITE AKTUALISIEREN">
        {% endblock %}
    </form>
{% endblock %}
