{% extends "barcamp/master.html" %}
{% block main_content %}
<form action="{{url_for('page_edit_partial', slug = slug, page_slug = page_slug)}}" method="POST">
    <h1 data-toggle="editable" data-field="title">{{page.title|e}}</h1>
    <h1>
        <div class="editfield" data-id="title">
            {% if is_admin %}
                <form class="edit form-inline hide" action="" method="POST">
                    <input type="text" value="{{page.title|e}}" class="span3">
                    <button href="#" data-save="editfield" class="btn btn-primary">Speichern</button>
                    <button href="#" data-close="editfield" class="btn">Abbrechen</button>
                </form>
            {% endif %}
            <div class="value show" data-toggle="editfield">
                {{page.title|e}}
            </div>
        </div>
    </h1>
    <div class="image-container action-container">
        {% if image %}
            {% if is_admin %}
            <div class="image-edit actions">
                <a href="{{url_for('page_image_upload', slug=slug, page_slug = page.slug)}}" class="btn iframebox"><i class="icon-picture"></i> Bild austauschen</a>
                <a 
                    data-confirm="Sind Sie sicher?" 
                    data-url="{{url_for('page_image_delete', slug = slug, page_slug = page_slug)}}" 
                    role="button" 
                    class="asset-delete btn btn-mini btn-danger">
                    <i class="icon icon-trash icon-white"></i> Bild löschen</a>
            </div>
            {% endif %}
            <div class="image">
                {{image}}
            </div>
        {% else %}
            {% if is_admin %}
                <a role="button" href="{{url_for('page_image_upload', slug=slug, page_slug = page.slug)}}" class="btn iframebox"><i class="icon-picture"></i> Bild hochladen</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="content">
        {{page.content|md}}
    </div>
{% endblock %}

{% block js %}
    <script src="{{url_for("static", filename="js/barcamp.js")}}"></script>
{% endblock %}
