{% extends "barcamp/master.html" %}
{% block main_content %}

    {# ****************************** Logo Upload Modal **************************************** #}
    <div class="modal image-upload hide fade" id="image-upload">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Logo hochladen</h3>
        </div>
        <div class="modal-body">
            <form class="uploadform">
            <div class="upload-widget" data-url="{{url_for('page_image_upload', slug = slug, page_slug = page_slug)}}">
                <button class="uploadbutton btn btn-primary pull-left">Datei auswählen</button>
                <br>
                <div class="help" style="clear: both">
                    Du kannst hier ein Logo hochladen, das maximal 940 Pixel breit sein sollte. Erlaubte Formate sind JPEG, GIF und PNG.
                    Die maximal erlaubte Dateigröße beträgt 10MB. Beachte, dass das Bild nicht automatisch skaliert wird, ein richtig skaliertes
                    Bild wird also das beste Ergebnis liefern.
                </div>
                <div class="progressbar">
                    <div class="progress progress-striped active hide">
                        <div class="bar" style="width: 0%%;"></div>
                    </div>
                </div>
                <div class="filenamebox hide">
                    File: <span class="upload-label-filename"></span>
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Schlie&szlig;en</a>
            <!--<a href="#" class="btn btn-primary">Save changes</a>-->
        </div>
    </div>
    <h1>
        <div class="editfield" data-id="title">
            {% if is_admin %}
                <form class="edit form-inline hide" action="" method="POST">
                    <input type="text" value="{{page.title|e}}" class="span3">
                    <button href="#" data-save="editfield" class="btn btn-primary">Speichern</button>
                    <button href="#" data-close="editfield" class="btn">Abbrechen</button>
                </form>
            {% endif %}
            <div class="value show" data-toggle="editfield">
                {{page.title|e}}
            </div>
        </div>
    </h1>
    <div class="image-container action-container">
        {% if image %}
            {% if is_admin %}
            <div class="image-edit actions">
                <a href="#image-upload" role="button" data-toggle="modal" class="btn btn-mini"><i class="icon-picture"></i> Bild austauschen</a>
                <a 
                    data-confirm="Sind Sie sicher?" 
                    data-url="{{url_for('page_image_delete', slug = slug, page_slug = page_slug)}}" 
                    role="button" 
                    class="asset-delete btn btn-mini btn-danger">
                    <i class="icon icon-trash icon-white"></i> Bild löschen</a>
            </div>
            {% endif %}
            <div class="image">
                {{image}}
            </div>
        {% else %}
            {% if is_admin %}
                <a href="#image-upload" role="button" data-toggle="modal" class="btn"><i class="icon-picture"></i> Bild hochladen</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="content">
        {{page.content|md}}
    </div>
{% endblock %}

{% block js %}
    <script src="{{url_for("static", filename="js/barcamp.js")}}"></script>
{% endblock %}
