{% extends "_m/barcamps/master.html" %}
{% block main_content %}
<div class="barcamp-page layout-{{page.layout}}">
    <form action="{{url_for('page_edit_partial', slug = slug, page_slug = page_slug)}}" method="POST">
    {% if is_admin  or is_main_admin %}
        <div class="page-actions pull-right">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Seite administrieren 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('page_image_upload', slug=slug, page_slug = page.slug)}}" class="iframebox"><i class="icon-picture"></i> Bild hochladen</a></li>
                    <li><a href="{{url_for('page_edit', slug=slug, page_slug = page_slug)}}"><i class="icon-pencil"></i> Seite bearbeiten</a></li>
                    <li><a class="confirm" href="{{url_for('barcamp_page', method="delete", slug=slug, page_slug = page_slug, _append=True)}}"><i class="icon-trash"></i> Seite löschen</a></li>
                </ul>
            </div>
            
            <a role="button" 
                href="{{url_for('page_layout', _append=True, slug=slug, page_slug = page.slug)}}" 
                class="btn"
                data-action="set-layout"
                data-layout="left"><i class="icon-arrow-left"></i></a>
            <a role="button" 
                href="{{url_for('page_layout', _append=True, slug=slug, page_slug = page.slug)}}" 
                class="btn"
                data-action="set-layout"
                data-layout="default"><i class="icon-arrow-up"></i></a>
            <a role="button" 
                href="{{url_for('page_layout', _append=True, slug=slug, page_slug = page.slug)}}" 
                class="btn"
                data-action="set-layout"
                data-layout="right"><i class="icon-arrow-right"></i></a>
        </div>
    {% endif %}
    <h1 data-toggle="editable" data-field="title">{{page.title|e}}</h1>
    <div class="image-container action-container">
        {% if image %}
            {% if is_admin or is_main_admin %}
            <div class="image-edit actions">
                <a href="{{url_for('page_image_upload', slug=slug, page_slug = page.slug)}}" class="btn iframebox"><i class="icon-picture"></i> Bild austauschen</a>
                <a 
                    data-confirm="Sind Sie sicher?" 
                    data-url="{{url_for('page_image_delete', slug = slug, page_slug = page_slug)}}" 
                    role="button" 
                    class="asset-delete btn btn-mini btn-danger">
                    <i class="icon icon-trash icon-white"></i> Bild löschen</a>
            </div>
            {% endif %}
            <div class="image">
                {{image}}
            </div>
        {% else %}
            {% if is_admin or is_main_admin %}
            {% endif %}
        {% endif %}
    </div>
    <div class="content">
        {{page.content|md}}
    </div>
    </form>
</div>
{% endblock %}

