{% macro eventnav(active="details", title="") -%}
<div id="backbutton">
    <a href="{{url_for('.events', slug=slug)}}" class="btn btn-sm btn-warning"><i class="fa fa-arrow-left"></i> {{_('back to event listing')}}</a>
</div>  

<nav>
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{'active' if active=='details'}}"><a href="{{url_for('.event', slug=slug, eid=eid)}}">{{_("Details")}}</a></li>
        <li role="presentation" class="{{'active' if active=='timetable'}}"><a href="{{url_for('.sessionboard', slug=slug, eid=eid)}}">{{_("Timetable")}}</a></li>
        <li role="presentation" class="{{'active' if active=='participants'}}"><a href="{{url_for('.event', slug=slug, eid=eid)}}">{{_("Participants")}}</a></li>
    </ul>
</nav>
    <div class="pull-right">
    	<form>
    		<select id="select-event">
    			{% for my_event in barcamp.eventlist %}
    				<option {{'selected' if my_event._id == event._id}} value="{{url_for('.event', slug = slug, eid = my_event._id)}}">
    					{{dateformat(my_event.date)}}
    				</option>
    			{% endfor %}
    		</select>
    	</form>
    </div>
    <h3>{{title}} {{_('for')}} {{event.name}} ({{dateformat(event.date)}})</h3>
{%- endmacro %}

