{% extends "admin_master.html" %}

{% import "macros.html" as formmacros with context %}
{% from "_m/barcamps/event_macros.html" import eventnav, locationpicker, eventform with context %}
{% block content %}

{{ locationpicker()}}

    {{ eventnav(active="details", title=_('Edit event details'))}}
    <div id="add-form-view" class="tab-pane active" role="tabpanel">
    {{ eventform(event=event, label=_('Update event') }}
    </div>


{% endblock %}
{% block bcjs %}
<script src="{{url_for("static", filename='js/event-controller.js')}}"></script>
{% endblock %}
