{% extends "admin_master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Events')}}</h1>
        <small>{{_('A barcamp consists of one or multiple days called events. You can define these below')}}
    {% endblock %}
    <hr>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>{{_('Name')}}</th>
                    <th>{{_('Date')}}</th>
                    <th>{{_('Participants')}}</th>
                    <th>{{_('Waiting')}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href="{{url_for(".event",slug=slug,eid=event._id)}}" title="edit event {{event.name}}">{{event.name}}</a></td>
                        <td>{{dateformat(event.date)}}</td>
                        <td>{{event.participants|length}}/{{event.size}}</td>
                        <td>{{event.waiting_list.length}}</td> 
                        <td>
                            <a href="#" data-event="{{event._id}}" data-url="{{url_for("barcamps.events", slug=slug)}}" class="delete-event btn btn-xs btn-danger" data-title="{{_('Delete event?')}}" data-toggle="confirmation" data-btn-ok-label="{{_('Yes')}}" data-btn-ok-icon="fa fa-ok" data-btn-ok-class="btn btn-success btn-xs" data-btn-cancel-label="{{_('No')}}" data-btn-cancel-icon="fa fa-ban" data-btn-cancel-class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button id="show-add-form" 
            class="btn btn-lg btn-primary" 
            style="{{'display: none;' if events|length==0}}"
            title="{{_('Show add event form')}}"><i class="fa fa-plus"></i> {{_('Add event')}}</button>

        <hr>
        <div id ="add-form-view" style="{{'display: none;' if events|length!=0}}">
            <h2>{{_('Create new event')}}</h2>
            <form class="form-validate form-horizontal validate" method="POST" id="add-form" action="{{url}}">  
                <div class="form-group form-group-lg">
                    <label for="name" class="col-sm-2 control-label">{{_('Title')}}</label>
                    <div class="col-sm-10">
                        {{formmacros.f(form.name, ng_model="event.name", placeholder=_('e.g. \"Day 1\" or \"Warm up Party\"'))}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">{{_('Description')}}</label>
                    <div class="col-sm-10">
                        {{formmacros.f(form.description, ng_model="event.description", rows=5, id="description", placeholder=_('Add more info'))}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">{{_('When')}}</label>
                    <div class="col-sm-4">
                        {{formmacros.f(form.date, placeholder=_('Date'))}}
                    </div>
                    <div class="col-sm-1">
                    {{_('from')}}
                    </div>
                    <div class="col-sm-2">
                        <label class="sr-only" for="start_time">{{_('Start Time')}}</label>
                        {{form.start_time(class="form-control", placeholder=_('Start time'))}}
                    </div>
                    <div class="col-sm-1">
                    {{_('to')}}
                    </div>
                    <div class="col-sm-2">
                        <label class="sr-only" for="end_time">{{_('End Time')}}</label>
                        {{formmacros.f(form.end_time, placeholder=_('End time'))}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="size" class="col-sm-2 control-label">{{_('How many')}}</label>
                    <div class="col-sm-2">
                        {{formmacros.f(form.size)}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="checkbox">
                            <label>
                                {{form.own_location()}} {{_('Use different location than the main barcamp location')}}
                            </label>
                        </div>

                    </div>
                </div>

                <fieldset id="location-view" style="display: none;">
                    <legend>{{_('Location')}}</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{_('Where')}}</label>
                        <div class="col-sm-5">
                            <label class="sr-only" for="name">{{_('Name of location')}}</label>
                            {{formmacros.f(form.location_name, placeholder=_('Name of the location'))}}
                        </div>
                        <div class="col-sm-5">
                            <label class="sr-only" for="street">{{_('Street')}}</label>
                            {{formmacros.f(form.location_street, placeholder=_('Street'))}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-2">
                            <label class="sr-only" for="zip">{{_('zip')}}</label>
                            {{formmacros.f(form.location_zip, placeholder=_('zip'))}}
                        </div>
                        <div class="col-sm-8">
                            <label class="sr-only" for="city">{{_('City')}}</label>
                            {{formmacros.f(form.location_city, placeholder=_('City'))}}
                        </div>
                    </div>
                    {{ formmacros.form_field(form.location_description, rows="3", label_class="col-sm-2", size="col-sm-10", placeholder="") }}
                    {{ formmacros.form_field(form.location_email, label_class="col-sm-2", input_class="email", size="col-sm-10", placeholder="") }}
                    {{ formmacros.form_field(form.location_phone, label_class="col-sm-2", input_class="", size="col-sm-10", placeholder="") }}
                    {{ formmacros.form_field(form.location_url, label_class="col-sm-2", input_class="url", size="col-sm-10", placeholder="") }}
                </fieldset>
                {% block action %}
                    <input type="submit" class="btn btn-lg btn-primary" value="{{_('Create event')}}">
                    <button id="cancel-add-form" class="pull-right btn btn-default">{{_('Cancel')}}</button>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}
{% block bcjs %}
<script src="{{url_for("static", filename='js/event-controller.js')}}"></script>
{% endblock %}
