{% macro barcamp_buttons() -%}
    {% if logged_in %}
    <div class="widget-join">
        {% if barcamp.is_registered(user) %}
            <div class="attending">
                <i class="fa fa-check"></i> I am attending!<br>
                <a title="{{_('Change whether you come or come not.')}}" data-toggle="tooltip" data-placement="top"
                href="{{url_for('barcamps.register', slug=slug)}}">{{_('Change?')}}</a>
            </div>
        {% else %}
            <div>
                <a title="{{_('Click here to participate in the barcamp')}}" data-toggle="tooltip" data-placement="top"
                href="{{url_for('barcamps.register', slug=slug)}}" class="btn btn-lg btn-block btn-success">{{_('Register')}}</a>
            </div>
            {% if view.can_subscribe %}
                <div>
                <a title="{{_('Watch this barcamp in order to receive notifications')}}" data-toggle="tooltip" data-placement="bottom"
                href="{{url_for('barcamps.register', slug=slug)}}" class="btn btn-block btn-primary"><i class="fa fa-eye"></i> {{_('Watch')}}</a>
                </div>
            {% else %}
                <div>
                <a title="{{_('I don\'t want to receive notifications anymore')}}" data-toggle="tooltip" data-placement="bottom"
                href="{{url_for('barcamps.register', slug=slug)}}" class="btn btn-block btn-primary"><i class="fa fa-eye-slash"></i> {{_('Do not watch')}}</a>
                </div>
            {% endif %}
        {% endif %} {# is registered_user #}
    </div>
    {% else %}
    <div class="alert alert-info">
        <h4>{{_("Attention!")}}</h4>
        {{_('In order to mark your interest in this barcamp you first have to')}}
        <a href="{{url_for('userbase.register')}}">{{_('register')}}</a> {{_('or')}} <a href="{{url_for('userbase.login')}}">{{_('login')}}</a>
        {{_('on the site itself and then come back to this barcamp to mark your interest.')}}
    </div>
    {% endif %} {# logged in#}
{%- endmacro %} {# barcamp_buttons #}



{% set body_id="barcamppage" %}
{% extends "master.html" %}
{% import "macros.html" as formmacros with context %}
{% block head %}
    <meta property="og:title" content="{{barcamp.name|striptags}}" />
    <meta property="og:site_name" content="{{barcamp.name|striptags}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url_for("barcamps.index", slug = slug, _full=True)}}" />
    <meta property="og:image" content="http://" />
    <meta property="og:description" content="{{barcamp.description|e}}" />
    {% if barcamp.fbAdminId %}
    <meta property="fb:admins" content="{{barcamp.fbAdminId}}" />
    {% endif %}

    <link rel="index" title="{{barcamp.name}}" href="{{url_for("barcamps.index", slug = slug)}}" />
    <link rel="canonical" href="{{url_for("barcamps.index", slug = slug, _full=True)}}" />
    <meta name="description" content="{{barcamp.description|e}}" />

    <style>
        body, #barcamppage {
            background-image: url('{{barcamp_view.background_image_url.logo_full}}');
            background-color: {{barcamp.background_color}};
            color: {{barcamp.text_color}};
        } 
        #barcamp-details, #bloglisting {
            color: {{barcamp.text_color}};
        }
         #bc-header {
            background-color: {{barcamp.header_color}};
        }

        .navbar-barcamp .navbar-nav > li > a {
            color: {{barcamp.navbar_link_color}};
            border-color: {{barcamp.navbar_border_color}};
        }
        .navbar-barcamp .navbar-nav > li.active > a {
            background: {{barcamp.navbar_active_bg}};
            color: {{barcamp.active_color}};
        }
        .navbar-barcamp .navbar-nav > li:hover > a {
            background: {{barcamp.navbar_hover_bg}};
        }



    </style>

{% endblock %}
{% block topcontainer %}
    <div class="bcdetail-bg" id="bc-header">
        <div class="container">
            <div class="header action-container content-area">
                {% if logo %}
                    {{view.logo}}
                {% else %}
                    <h1 class="logo">{{name}}</h1>
                {% endif %}
            </div>
            <div class="byline clearfix">
                <div class="pull-left location">
                    <i class="fa fa-location-arrow"></i> <a href="{{url_for('barcamps.location', slug=slug)}}"><strong>{{barcamp.location.name}}</strong></a>, 
                    {{barcamp.location.street}}, 
                    {{barcamp.location.zip}} {{barcamp.location.city}}
                </div>
                <div class="pull-right date">
                    <i class="fa fa-calendar"></i> {{dateformat(barcamp.start_date)}} - {{dateformat(barcamp.end_date)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# we replace the whole container because of the image gallery #}
{% block container %}

    <div class="container" id="barcamp">
        <div id="barcamp-menu">
            <nav class="navbar navbar-barcamp" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% for action in actions %}
                                <li class="{{'active' if action.active}}"><a href="{{action.url}}">{{_(action.name)}}</a></li>
                            {% endfor %}
                        </ul>
                        {% if is_admin or is_main_admin %}
                        <ul class="nav navbar-nav pull-right">
                            <li class="manage"><a target="manage" href="{{url_for('barcamps.dashboard', slug=slug)}}">{{_('Manage Barcamp')}}</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {% block inbetween %}
        
    {% endblock %}

    <div class="container">

        {% block headline %}
        {% endblock %}

        {% block flashes %}
            {% for m in get_flashes(with_categories=True) %}
                <div class="alert alert-{{m[0]}}">
                <strong>{{m[1]}}</strong><br>
                </div>
            {% endfor %}
        {% endblock %}

        {% block above_main_content %}
        {% endblock %}

        {% block outer_content %}
            <div id="main-content" class="row">
                <div class="col-lg-9 col-md-9" id="content-area">
                    {% if is_admin %}
                        {% if barcamp.workflow=="created" %}
                            <form action="{{url_for('barcamps.permissions', slug=slug)}}" method="POST">
                                <input type="hidden" name="wf" value="public">
                                <div class="well">
                                    <button class="pull-right btn btn-small btn-success">{{_('publish barcamp')}}</button>
                                    <b style="color: red">{{_('this barcamp is not public')}}</b>
                                </div>
                            </form>
                        {% elif barcamp.workflow == "public" %}
                            <form action="{{url_for('barcamps.permissions', slug=slug)}}" method="POST">
                                <input type="hidden" name="wf" value="registration">
                                <div class="well">
                                    <button class="pull-right btn btn-small btn-success">{{_('open registration')}}</button>
                                    <b style="color: red">{{_('Registration for this barcamp is not yet open. People can only subscribe to it but not take part.')}}</b>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}

                    {% block main_content %}
                    {% endblock %}

                </div><!-- #content-area -->

                <aside class="col-lg-3 col-md-3">
                    {% block widgets %}

                        {{barcamp_buttons()}}

                        <div class="socialmedia">

                            <div class="fb-button">
                                <fb:share-button href="{{url}}" type="button">
                                </fb:share-button>
                            </div>

                            <div class="twitter-button">
                                <a href="https://twitter.com/share"
                                   class="twitter-share-button"
                                   data-url="{{_('Join us at')}} {{url_for("barcamps.index", slug = slug)}}"
                                   data-text="{{barcamp.title|striptags}}"
                                   data-via="{{barcamp.twitter}}"
                                   data-count="none"
                                   data-hashtags="{{barcamp.hashtag}}">Tweet</a>
                            </div>

                            <div class="gplus-button">
                                <!-- Place this tag where you want the +1 button to render. -->
                                <div class="g-plusone" data-size="medium" data-annotation="none"></div>

                                <!-- Place this tag after the last +1 button tag. -->
                                <script type="text/javascript">
                                  window.___gcfg = {lang: 'de'};

                                  (function() {
                                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                    po.src = 'https://apis.google.com/js/plusone.js';
                                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                  })();
                                </script>
                            </div>

                        </div> {# social media#}
                    {% endblock %} {# widgets #}
                </aside>{# -- widget -- #}
            </div>{# -- #main-content --#}
        {% endblock %} {# outer_content #}

        {% block footer %}
        <footer>
            <div class="container">
                <a href="/impressum.html">Impressum</a>
            </div>
        </footer>
        {% endblock %}
    </div> {# #container #}
{% endblock %} {# container #}

{% block js %}
    <script src="{{url_for("static", filename="js/uploader.js")}}"></script>
    <script src="{{url_for("static", filename="js/barcamp.js")}}"></script>
    {% block bcjs %}
    {% endblock %}
{% endblock %}

