{% extends "master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Increase number of participants')}}</h1>
    {% endblock %}
    {{barcamp.size}}
    <form class="form-validate horizontal-form validate" method="POST" action="{{url}}">  
        {{ formmacros.form_field(form.size, class="required span2 number", min=barcamp.size) }}
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('update')}}">
        {% endblock %}
    </form>
{% endblock %}
