{% set active_action = "events" %}
{% extends "_m/barcamps/master.html" %}

{% block headline %}
    <ol class="breadcrumb">
        <li><a href="{{url_for('.index', slug = slug)}}">{{_('Homepage')}}</a></li>
        <li><a href="{{url_for('.user_events', slug = slug)}}?at=timetable">{{_('Events')}}</a></li>
        <li class="active">{{_('Registration Form')}}</li>
    </ol>
    <h1>{{_('My participant data for %s') %barcamp.name}}</h1>

{% endblock %}
{% block main_content %}
    <div id="participant-data">
        <div class="description">
            {{_("Please enter your data for participating in this event")}}
        </div>

        <form class="validate form-horizontal" method="POST" action="{{url}}">
            <fieldset>
            {% for field in form %}
                {{ formmacros.form_field(field, checkbox_class="col-sm-offset-2 col-sm-6", size="col-sm-6", label_class="col-sm-2", required=True if field.flags.required else "") }}
            {% endfor %}
            </fieldset>
            <input type="submit" value="{{_("Save")}}" class="btn btn-primary">
            
        </form>
    </div>
{% endblock %}
