{% extends "_m/barcamps/master.html" %}

{% block main_content %}
    {% block title %}
        <h1>{{_('Edit the participant registration form')}}</h1>
    {% endblock %}
    <div id="participant_datafields">
        <table id="participant_datafields" class="table table-striped">
            <thead>
                <tr>
                    <th>{{_('title')}}</th>
                    <th>{{_('description')}}</th>
                    <th>{{_('field type')}}</th>
                    <th width="5%">{{_('required?')}}</th>
                    <th></th>
                </tr>
            <thead>
            <tbody>
                {% for f in fields%}
                <tr data-title="{{f.title}}"
                    data-description="{{f.description}}"
                    data-fieldtype="{{f.fieldtype}}"
                    data-required="{{f.required}}">
                    <td>{{f.title}}</td>
                    <td>{{f.fieldtype}}</td>
                    <td>{{f.description}}</td>
                    <td width="5%">{% if f.required %}<i class="icon-ok">{% endif %}</td>
                    <td>
                        <a href="{{url_for('.registration_form_editor', method='delete', idx = loop.index0, slug = slug, _append=True)}}" 
                           class="btn btn-mini btn-danger action-confirm"
                           data-confirm="{{_('Are you sure?')}}" 
                           type="button"><i class="icon-white icon-trash"></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <h3>{{_("Add a new field")}}</h3>
    <form class="form form-horizontal" method="POST" action="{{url}}">
            <fieldset>
                {{ formmacros.form_field(form.title, class="required span6") }}
                {{ formmacros.form_field(form.description, class="required span6", rows=4) }}
                {{ formmacros.form_field(form.fieldtype, class="span4 url") }}
                {{ formmacros.form_field(form.required, class="span4 url") }}
            </fieldset>
            <input type="submit" class="btn btn-primary" value="{{_('Add')}}">
    </form>

{% endblock %}

{% block bcjs %}
    <script src="{{url_for("static", filename="js/datafields.js")}}"></script>
{% endblock %}
