{% from "_m/barcamps/event_macros.html" import eventnav with context %}
{% set menu="sessionboard" %}
{% set container="full" %}
{% extends "admin_master.html" %}

{% block content %}

{{eventnav(active="timetable", title=_('Edit event timetable'))}}

<div class="container-fluid" id="sessionboard-container" ng-app="barcamptool">
    <div class="row">
        <div id="sessionboard" ng-controller="SessionBoardCtrl">


            {#
             #  room modal
            #}


            <div class="modal" id="add-room-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{_('Add new room')}}</h4>
                        </div>
                        <div class="modal-body">
                            <form name="room_form" class="novalidate form-horizontal" role="form" id="add-room-form">
                                <input type="hidden" name="room_idx" ng-model="room_idx">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{_('Name')}}</label>
                                    <span class="label label-danger" data-ng-show="submitted && addRoomForm.name.$error.required">{{_('This field is required')}}!</span>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="room.name" name="name" required placeholder="{{_('e.g. seminar room')}}">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{_('Capacity')}}</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control" ng-model="room.capacity" integer min=1 max=1000 name="capacity" required>
                                        <span class="help-block" ng-show="room_form.room.capacity.$error.integer">{{_('The value is not a valid integer')}}</span>
                                        <span class="help-block" ng-show="room_form.room.capacity.$error.min || room_form.room.capacity.$error.max">{{_('The value must be in range 1 to 1000')}}</span>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{_('Description')}}</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" maxlength=100 ng-model="room.description" name="description" placeholder="{{_('e.g. beamer available')}}"></textarea>
                                    </div>
                                </div> 
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button ng-if="roomModalMode=='add'" data-ng-click="add_room()" class="btn btn-primary">{{_('Add new room')}}</button>
                            <button ng-if="roomModalMode=='edit'" data-ng-click="update_room()" class="btn btn-primary">{{_('Update room')}}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            {#
             #  time modal
            #}

            <div class="modal" id="add-timeslot-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{_('Add new timeslot')}}</h4>
                        </div>
                        <div class="modal-body">
                            <form name="timeslot_form" class="novalidate form-horizontal" role="form" id="add-timeslot-form">
                                <input type="hidden" name="timeslot_idx" ng-model="timeslot_idx">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{_('Time')}}</label>
                                    <span class="label label-danger" data-ng-show="submitted && addtimeslotForm.time.$error.required">{{_('This field is required')}}!</span>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="timepicker" ui-timepicker="timePickerOptions" ng-model="timeslot.time" name="time" required placeholder="{{_('e.g. 11:00')}}">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{_('Blocked?')}}</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="form-control" ng-model="timeslot.blocked" name="blocked" required>
                                        <span class="help-block">{{_('Define here if this time slot is blocked, e.g. because of a break. This means you cannot add sessions in this slot.')}}
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{_('Reason for blocking')}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="timeslot.reason" name="reason" required placeholder="{{_('e.g. lunch break')}}">
                                    </div>
                                </div> 
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button ng-if="timeslotModalMode=='add'" data-ng-click="add_timeslot()" class="btn btn-primary">{{_('Add new timeslot')}}</button>
                            <button ng-if="timeslotModalMode=='edit'" data-ng-click="update_timeslot()" class="btn btn-primary">{{_('Update room')}}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            {#
             #  session modal
            #}

            <div class="modal" id="edit-session-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{_('Edit Session')}}</h4>
                        </div>
                        <div class="modal-body">
                            <form name="timeslot_form" class="form-horizontal" role="form" id="edit-session-form">
                                <input type="hidden" name="session_idx" ng-model="session_idx">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{_('Title')}}</label>
                                    <span class="label label-danger" data-ng-show="submitted && editSessionForm.tite.$error.required">{{_('This field is required')}}!</span>
                                    <div class="col-sm-8">
                                        <input type="text" id="ac-title" nui-autocomplete="autocompleteOptions" class="form-control" ng-model="session.title" name="title" required placeholder="{{_('enter the title of the session')}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{_('Description')}}</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows=10 name="description" ng-model="session.description" placeholder="{{_('The description of the session')}}"></textarea>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{_('Speaker / Moderator')}}</label>
                                    <div class="col-sm-8">
                                        
                                        <tags-input ng-model="session.moderator" display-property="name"
                                            replace-spaces-with-dashes="false"
                                            placeholder="{{_('Add Organizer')}}">
                                            <auto-complete source="loadParticipants()"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button data-ng-click="update_session()" class="btn btn-primary">{{_('Update Session')}}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            {#
             #     main page
            #}
            <div class="table-responsive">
                <table class="table table-bordered sessiontable" ng-cloak>
                    <colgroup>
                        <col width="10%">
                        <col ng-repeat="room in rooms | slice:1:10000" width="{[{90/rooms.length}]}%">
                    </colgroup>
                    <thead>
                        <tr id="roomcontainment" ui-sortable="sortableOptions" ng-model="rooms">
                            <td></td>
                            <td class="sorted room-slot" ng-repeat="room in rooms | slice:1:10000" data-id="{[{room.id}]}">
                                <h5 class="room-name">{[{room.name}]}</h5>
                                <div class="room-actions">
                                    <a ng-click="delete_room($index+1)" title="{{_('delete room')}}" href="javascript: return false;" class="del-room-button btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                    <a title="{{_('edit room')}}" href="" ng-click="edit_room($index+1)" class="btn btn-xs btn-info"><i class="fa fa-pencil"></i></a>
                                    <span title="{{_('drag to sort this list')}}" class="btn btn-xs btn-info"><i class="fa fa-arrows"></i></span>
                                </div>
                                <small>{[{room.description}]}</small><br>
                                <small>{[{room.capacity}]} {{_("persons")}}</small>
                            </td>
                            <td class="not-sortable">
                                <div id="add-room-div" class="nobig-button-panel"><a title="{{_('Add new room')}}" href="" ng-click="add_room_form()" id="room-add-button" href="" class="btn btn-lg btn-block btn-primary"><i class="fa fa-plus"></i> {{_('Room')}}</a></div>
                            </td>
                        </tr>
                    </thead>
                    <tbody >
                        <tr class="sorted" ng-repeat="slot in timeslots" ng-class="{warning: slot.blocked}" ng-model="sessionplan">
                            <td class="time-slot">
                                <span>{[{slot.time | date: 'shortTime' : 'UTC'}]}</span>
                                <a ng-click="delete_timeslot($index)" data-toggle="tooltip" title="{{_('lock session')}}" href="" class="btn btn-xs btn-warning"><i class="fa fa-lock"></i></a>
                                <a ng-click="delete_timeslot($index)" data-toggle="tooltip" title="{{_('delete timeslot')}}" href="" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                            <td ng-repeat="room in rooms | slice:1:10000" class="sessionslot" 
                                ng-class="{enabled: !slot.blocked}"
                                class = "sessionslot"
                                ng-init="sid = get_session_id(slot, room)" 
                                ng-click="add_session(slot, room)">
                                <span ng-if="slot.blocked">{[{slot.reason}]}</span>
                                <h5>{[{sessionplan[sid].title}]}</h5>
                                <div class="description">{[{sessionplan[sid].description | limitTo: 20}]} &hellip;</div>
                                <div class="moderators">
                                    <span ng-repeat="moderator in sessionplan[sid].moderator">
                                        {[{moderator.name}]}{[{!$last ? "," : ""}]}
                                    </span>
                                </div>

                                <div class="pull-right slot-actions" ng-if="!slot.blocked">
                                    <span><i class="fa fa-pencil"></i></span>
                                    <span class="text-danger"><i class="fa fa-trash"></i></span>
                                    <span><i class="fa fa-arrows"></i></span>
                                </div>

                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="nobig-button-panel"><a title="{{_('Add new room')}}" href="" ng-click="add_timeslot_form()" id="timeslot-add-button" href="" class="btn btn-lg btn-block btn-info"><i class="fa fa-plus"></i> {{_('Time')}}</a></div>
                            </td>
                            <td colspan="{[{rooms.length}]}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="actions" id="sessionboard-actions">
                <a class="btn btn-success" href="{{url_for('.user_events', slug = slug, eid = event._id)}}#sessions"><i class="fa fa-eye"></i> {{_('public view')}}</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-print"></i> {{_('Download PDF')}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="tooltip" data-placement="right" title="{{_('for use as direction signs')}}" href="#">{{_('Rooms and Times')}}</a></li>
                        <li><a data-toggle="tooltip" data-placement="right" title="{{_('the complete session plan, one sheet per session')}}" href="#">{{_('Session plan')}}</a></li>
                        <li><a data-toggle="tooltip" data-placement="right" title="{{_('each time on a separate sheet')}}" href="#">{{_('Time Signs')}}</a></li>
                        <li><a data-toggle="tooltip" data-placement="right" title="{{_('each room on a separate sheer for directions or session plan')}}" href="#">{{_('Room Signs')}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}

    {% block bcjs %}
    <script src="{{url_for("static", filename='js/sessionboard-controller.js')}}"></script>
    {% endblock %}
