{% extends "_m/barcamps/master.html" %}

{% block main_content %}
    <h1 class="sr-only">
        {{_('Session Proposals')}}
    </h1>
    
    <section id="sessionproposals">
        <div class="clearfix">
            <div id="sort-buttons" class="pull-right">
                {{_('Sort by:')}}
                <span class="btn-group">
                    <a href="{{url_for('barcamps.sessions', slug = slug)}}?sort=date" id="sort-date" type="button" class="btn btn-xs btn-info {{'active' if sort=="date"}}">{{_('Date')}}</a>
                    <a href="{{url_for('barcamps.sessions', slug = slug)}}?sort=votes" id="sort-votes" type="button" class="btn btn-xs btn-info {{'active' if sort=="votes"}}">{{_('Votes')}}</a>
                </span>
            </div>
            {% if is_admin %}
                <a target="_new" href="{{url_for('.session_export', slug = slug)}}" class="btn btn-default btn-sm"><i class="fa fa-download"></i> {{_('Download as excel')}}</a>
            {% endif %}
        </div>


    {% for session in sessions %}
        <article class="media session">
            <div class="votecontainer pull-right" data-url="{{url_for(".session_vote", slug = slug, sid = session._id)}}">
                <div class="votes" id="vote-90b5d410-2891-4516-bfa2-bc0598a2d774">{{session.vote_count}}</div>
                <div class="votebutton {{'disabled' if not logged_in}}">
                    <a id="votebutton-{{session._id}}" data-id="{{session._id}}" class="vote {{'active' if session.has_voted(user._id) else 'inactive'}}"><i class="fa fa-thumbs-up"></i></a>
                </div>
            </div>
            <a class="media-left" href="{{url_for('profile', username = session.user.username)}}">
                <img class="profile-image" src="{{userview(session.user).image_thumb}}">
            </a>
            <div class="media-body show-box">
                {% if is_admin or user_id == session.user._id %}
                    <div class="pull-right">
                        <a data-url="{{url_for('barcamps.session', slug=slug, sid = session._id)}}" 
                           title="{{_('Edit Session Proposal')}}"
                           href="#" 
                           class="session-edit-button btn btn-xs btn-info"><i class="fa fa-pencil"></i></a>
                        <a data-confirm="{{_('Are you sure?')}}" 
                           data-url="{{url_for('barcamps.session', slug=slug, sid = session._id)}}" 
                           title="{{_('Delete Session Proposal')}}"
                           href="#" 
                           class="session-delete-button btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                    </div>
                {% endif %}
                <h3 class="media-heading">{{session.title|striptags}}</h3>
                <div class="byline">
                    {{_('added by')}}
                        <a href="{{url_for('profile', username = session.user.username)}}">{{session.user.fullname}}</a>
                    {{_('on')}} {{session.created.strftime("%d.%m.%Y")}}
                </div>
                <div class="description">
                    {{session.description|md(level=3)}}
                </div>
                {% for comment in session.get_comments() %}
                    <div class="media comment">
                        {% if is_admin %}
                            <a href="#" 
                                data-confirm="{{_('Are you sure?')}}"
                                data-url="{{url_for('.session_comments', slug = slug, sid = session._id)}}"
                                data-cid="{{comment._id}}"
                                class="deletebutton btn-xs btn btn-danger pull-right"><i class="fa fa-trash"></i></a>
                        {% endif %}
                        <a href="{{url_for("profile", username=comment.user.username)}}" class="pull-left">
                            <img class="profile-image" src="{{userview(comment.user).image_thumb}}">
                        </a>
                        <div class="media-body">{{comment.comment}}
                            <footer>{{_("comment by")}} {{comment.user.fullname}}, {{comment.created.strftime('%d.%m.%Y')}}</footer>
                        </div>
                    </div>
                {% endfor %}
                <div class="media comments">
                    <a href="{{url_for("profile", username=user.username)}}" class="pull-left">
                        <img class="profile-image" src="{{userview(user).image_thumb}}">
                    </a>
                    <div class="media-body">
                        {% if logged_in %}
                        <form method="post" class="form-horizontal clearfix" action="{{url_for('.session_comments', slug = slug, sid = session._id)}}">
                            <fieldset>
                            <div class="control-group">
                                <textarea placeholder="{{_('Your comment')}}" class="comment-area" name="comment" rows=3></textarea>
                            </div>
                            <button href="#" class="btn btn-small btn-primary">{{_("add your comment")}}</button>
                            </fieldset>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if is_admin or user_id == session.user._id %}
            <form class="media-body edit-box well form-validate" method="POST" 
                  style="display: none; width: 100%;"
                  role="form"
                  action="{{url_for('.session', slug = slug, sid = session._id)}}">
                <div class="form-group">
                    <label class="sr-only" for="title">{{_("Title")}}</label>
                    <input id="title" type="text" class="required media-heading form-control" value="{{session.title}}" name="title">
                </div>
                <div class"form-group">
                    <label class="sr-only" for="description">{{_("Description")}}</label>
                    <textarea name="description" class="form-control" rows="3">{{session.description}}</textarea>
                </div>
                <div class="buttons">
                    <input type="submit" class="btn btn-xs btn-primary" value="{{_('Save')}}">
                    <a href="#" class="session-cancel-button btn btn-xs">{{_('Cancel')}}</a>
                </div>
            </form>
        {% endif %}
        </article>
    {% endfor %}
    </section>
    {% if logged_in %}
        <a id="new-proposal-button" href="#" class="btn btn-primary"><i class="fa fa-plus"></i> {{_('Create proposal')}}</a>
        <div class="well" id="proposal-form-container" style="display: none;">
            <legend>{{_('Your proposal')}}</legend>
            <form method="post" action="{{url}}" class="form-horizontal">
                {{formmacros.form_field(form.title, input_class="required", label_class="col-sm-2", size="col-sm-6")}}
                {{formmacros.form_field(form.description, rows=5, cols=60, label_class="col-sm-2", size="col-sm-6")}}
                <div class="form-actions">
                    <button id="proposal-cancel" class="pull-right btn btn-default">{{_('Cancel')}}</button>
                    <input type="submit" class="btn btn-large btn-primary" value="{{_('Add proposal')}}">
                </div>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <b>{{_('In order to be able to create or vote for proposals, you need to be logged in.')}}</b>
            <a href="{{url_for("userbase.login")}}">{{_('you can log in and register here')}}</a>
        </div>
    {% endif %}

{% endblock %} 
{% block js2 %}
    <script src="{{url_for("static", filename="js/sessions.js")}}" type="text/javascript"></script>
{% endblock %}
