{% extends "_m/barcamps/master.html" %}

{% macro list(users, remove_url=None, to_participant_url=None) -%}
    <ul class="participants">
    {% for myuser in users %}
        <li class="participant">
            <a class="participant-avatar" href="{{url_for('profile', username = myuser.username)}}">
                <img class="profile-image-mini" src="{{userview(myuser).image_thumb}}">
            </a>
            <div class="participant-info">
                {% if user == myuser and remove_url %}
                    <form method="post" class="pull-right" action="{{remove_url}}">
                    <input type="hidden" name="u" value="{{myuser.username}}">
                        <button class="btn btn-danger"><i class="icon-white icon-trash"></i></button>
                    </form>
                {% elif is_admin and remove_url %}
                    <form method="post" class="pull-right" action="">
                    <input type="hidden" name="u" value="{{myuser.username}}">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
                        <ul class="dropdown-menu">
                            {% if to_participant_url %}
                            <li>
                                <a class="form-submit" href="{{to_participant_url}}"><i class="icon-plus"></i> {{_("register user as participant")}}</a>
                            </li>
                            {% endif %}
                            {% if remove_url %}
                            <li>
                                <a class="form-submit" href="{{remove_url}}"><i class="icon-trash"></i> {{_('remove user from list')}}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    </form>
                {% endif %}
                <h5 class="media-heading"><a href="{{url_for('profile', username = myuser.username)}}">{{myuser.fullname}}</a>
                    {% if myuser.has_organisation %}
                    <br><small>{{myuser.organisation}}</small>
                    {% endif %}
                </h5>
            </div>
        </li>
    {% endfor %}
    </ul>
{%- endmacro %}

{% block main_content %}
    <div class="row">
        <div class="span3">
            <h2>{{_('Participants')}}</h2>
            {{list(barcamp.participant_users, remove_url=url_for('.unregister', slug = slug))}}
        </div>
        <div class="span3">
            <h2>{{_('Interested')}}</h2>
            {{list(barcamp.subscriber_users, remove_url=url_for('.subscribe', slug = slug))}}
        </div>
        <div class="span3">
            <h2>{{_('Waiting list')}}</h2>
            {{list(barcamp.waitinglist_users, remove_url=url_for('.unregister', slug = slug))}}
        </div>
    </div>
{% endblock %}
