{% set active_action = "events" %}
{% set container_fluid = "fluid" %}
{% extends "_m/barcamps/master.html" %}

{% macro userlist(users) %}
    <ul class="participants">
    {% for myuser in users %}
        <li class="participant">
            <a class="participant-avatar" href="{{url_for('profile', username = myuser.username)}}" data-toggle="tooltip" title="{{myuser.fullname|e}}">
                {{userview(myuser).image_thumb_tag}}
            </a>
            <a class="sr-only participant-name" href="{{url_for('profile', username = myuser.username)}}" title="{{myuser.fullname|e}}">
                {{myuser.fullname|e}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
{% macro participation(args) %}
    {% if logged_in and not has_form and not barcamp.ticketmode_enabled%}

        <div class="participation-details event" data-id="{{active_event._id}}" id="e-{{active_event._id}}">
            <h3 class="sr-only">{{_('Change Participation Status')}}</h3>
            <span class="infolabel plabel plabel-going"><i class="fa fa-check"></i> {{_('I attend this event')}}</span>
            <span class="infolabel plabel plabel-notgoing"><i class="fa fa-exclamation-triangle"></i> {{_('I am not attending this event')}}</span>
            
            <div class="pull-right actions">
                <button data-status="going" 
                        title="{{_('Register')}}" class="btn btn-lg btn-primary btn-join">{{_('Register')}}</button>
                <button data-status="going"
                        title="{{_('Join')}}" class="btn btn-lg btn-primary btn-joinwl">{{_('Join Waiting list')}}</button>
                <button data-status="maybe"
                        title="{{_('Join')}}" class="btn btn-lg btn-info btn-maybe">{{_('Maybe')}}</button>
                <span class="error" style="display: none;"><i class="fa fa-warning"></i></span>

                <div class="btn-group pselect">
                    <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="plabel label-maybe">{{_('Maybe')}}</span>
                        <span class="plabel label-going">{{_('Going')}}</span>
                        <span class="plabel label-waitinglist">{{_('Waiting list')}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-status="going" href="#" class="dlabel going">{{_('Going')}}</a></li>
                        <li><a data-status="maybe" href="#" class="dlabel maybe">{{_('Maybe')}}</a></li>
                        <li><a data-status="notgoing" href="#" class="not">{{_('Not Going')}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if logged_in and has_form and has_form_data and not barcamp.ticketmode_enabled %}

        <div class="participation-details event" data-id="{{active_event._id}}" id="e-{{active_event._id}}">
            <h3 class="sr-only">{{_('Change Participation Status')}}</h3>
            <span class="infolabel plabel plabel-going"><i class="fa fa-check"></i> {{_('I attend this event')}}</span>
            <span class="infolabel plabel plabel-notgoing"><i class="fa fa-exclamation-triangle"></i> {{_('I am not attending this event')}}</span>
            
            <div class="pull-right actions">
                <button data-status="going" 
                        title="{{_('Register')}}" class="btn btn-lg btn-primary btn-join">{{_('Register')}}</button>
                <button data-status="going"
                        title="{{_('Join')}}" class="btn btn-lg btn-primary btn-joinwl">{{_('Join Waiting list')}}</button>
                <button data-status="maybe"
                        title="{{_('Join')}}" class="btn btn-lg btn-info btn-maybe">{{_('Maybe')}}</button>
                <span class="error" style="display: none;"><i class="fa fa-warning"></i></span>

                <div class="btn-group pselect">
                    <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="plabel label-maybe">{{_('Maybe')}}</span>
                        <span class="plabel label-going">{{_('Going')}}</span>
                        <span class="plabel label-waitinglist">{{_('Waiting list')}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-status="going" href="#" class="dlabel going">{{_('Going')}}</a></li>
                        <li><a data-status="maybe" href="#" class="dlabel maybe">{{_('Maybe')}}</a></li>
                        <li><a data-status="notgoing" href="#" class="not">{{_('Not Going')}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if logged_in and has_form and not has_form_data %}
        <div class="participation-details event" data-id="{{active_event._id}}" id="e-{{active_event._id}}">
            <h3 class="sr-only">{{_('Change Participation Status')}}</h3>
            <span class="infolabel plabel plabel-notgoing"><i class="fa fa-exclamation-triangle"></i> {{_('I am not attending this event')}}</span>
            <a href="{{url_for(".registration_form", slug = slug)}}"
                class="btn btn-lg btn-primary pull-right"
                title="{{_('Add my registration data')}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> {{_('Register')}}</a>
        </div>
    {% endif %}
    
{% endmacro %}

{% block outer_content %}
    <ol class="breadcrumb">
        <li><a href="{{url_for('.index', slug = slug)}}">{{_('Homepage')}}</a></li>
        <li><a href="{{url_for('.user_events', slug = slug)}}?at=timetable">{{_('Events')}}</a></li>
        <li class="active">{{active_event.name|e}}</li>
    </ol>

    <h2>{{active_event.name|e}}</h2>
    <div class="description">{{active_event.description}}</div>

    <div id="user-events-content">

        <div role="tabpanel" id="eventlist" data-url="{{url_for('.registrationdata', slug=slug)}}">
            {{participation() }}
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {% if not barcamp.ticketmode_enabled %}
                <li role="presentation" class="{{'active' if active_tab=='participants'}}"><a href="#userlist" aria-controls="userlist" role="tab" data-toggle="tab">
                    {{_('Participants')}}</a>
                </li>
                {% endif %}
                <li role="presentation" class="{{'active' if active_tab=='timetable'}}"><a href="#sessions" aria-controls="sessions" role="tab" data-toggle="tab">
                    {{_('Timetable')}}</a>
                </li>
                <li role="presentation" class="{{'active' if active_tab=='location'}}"><a href="#location" aria-controls="location" id="location-button" role="tab" data-toggle="tab">
                    {{_('Location')}}</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- userlist /participants -->
                {% if not barcamp.ticketmode_enabled %}
                <div role="tabpanel" class="tab-pane {{'active' if active_tab=='participants'}}" id="userlist">
                    
                    <section id="participants">
                        <h4>{{_('Participants')}}</h4>
                        {{ userlist(participants)}}
                    </section>
                    <section id="maybe">
                        <h4>{{_('Maybe')}}</h4>
                        {{ userlist(maybe)}}
                    </section>
                    <section id="waitinglist">
                        <h4>{{_('Waiting list')}}</h4>
                        {{ userlist(waitinglist)}}
                    </section>
                    
                </div>
                {% endif %}

                <!-- session / timetable -->
                <div role="tabpanel" class="tab-pane {{'active' if active_tab=='timetable'}}" id="sessions">


                    <h3 class="sr-only">{{_('Time Table')}}</h3>
                    <div class="sessiontable sessiontable-cols-{{rooms|length + 1}}">
                        
                        <div class="room empty cell" aria-hidden="true">
                            <!-- timeslot -->
                        </div>
                        {% for room in rooms %}
                        <div class="room cell" aria-hidden="true">
                            <h3>{{room.name|e}}</h3>
                            <small>{{room.description|e}}</small><br>
                            <small>{{room.capacity|e}} {{_("persons")}}</small>
                        </div>
                        {% endfor %}
                        {% for slot in timeslots %}
                            <div class="timeslot cell">
                                <h3>{{slot.time}}</h3>
                            </div>

                            {% if slot.blocked %}
                                {% for room in rooms %}
                                    <div class="sessionslot blocked cell">
                                        {{slot.reason}}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for room in rooms %}
                                    {% set sid = room.id+"@"+slot.time %}
                                    {% set active = sessionplan.get(sid, {'sid': 'foobar'}).sid in fav_sessions%}
                                    <div class="sessionslot {{'active' if sid in sessionplan}} cell">
                                    {% if sid in sessionplan %}
                                    {% if logged_in %}
                                        <div class="fav-actions pull-right"><a 
                                            data-url="{{url_for('.toggle_fav', slug = slug, eid = active_event._id, sid = sessionplan[sid].sid)}}" 
                                            class="session-fav {{'active' if active}}" 
                                            title="{{_('Mark Session as favourite')}}" href="#">
                                                <span class="fav yes {{'active' if active}}">
                                                    <i class="fa fa-heart"></i>
                                                    <span class="sr-only">{{_("I like this session")}}</span>
                                                </span>
                                                <span class="fav no {{'active' if not active}}">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span class="sr-only">{{_("I don't like this session")}}</span>
                                                </span>
                                            </a>
                                        </div>
                                        {% endif %}
                                        <a title="{{_('Documentation for')+' '+sessionplan[sid].title}}" 
                                           href="{{url_for('.sessionpad', slug = slug, eid = active_event._id, session_slug = sessionplan[sid].slug)}}">
                                        <h5>{{sessionplan[sid].title}}</h5>
                                        <div class="description">{{sessionplan[sid].description}}</div>
                                        <div class="moderators">{{sessionplan[sid].moderator}}</div>
                                        <div class="room-description">{{_('Room:')}} {{room.name|e}}</div>
                                    </a>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="sessiontable-actions">
                        {% if logged_in %}
                            <a href="#" class="btn btn-default toggle-favs"><i class="fa fa-eye"></i> {{_('Toggle favourites')}}</a>
                        {% endif %}
                        {% if is_admin %}
                            <a href="{{url_for('.sessionboard', slug = slug, eid = active_event._id)}}" class="btn btn-default"><i class="fa fa-pencil"></i> {{_('Edit Sessions')}}</a>
                        {% endif %}          
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane {{'active' if active_tab=='location'}}" id="location">
                    <h3 class="sr-only">{{_('Location')}}</h3>
                    <div class="event-location-map" id="event-location-map"
                        data-accesstoken = "{{mapbox_access_token}}"
                        data-title = "{{active_event.event_location.name |e}}"
                        data-description = "{{active_event.event_location.street|e}}, {{active_event.event_location.zip|e}} {{active_event.event_location.city|e}}"
                        data-lat = "{{active_event.event_location.lat}}" 
                        data-lng = "{{active_event.event_location.lng}}"
                    >
                    </div>
                </div>
            </div>{# tab-content #}

        </div>{# tabpanel #}
    </div>
{% endblock %}

{% block widgets %}
    {{share_buttons()}}
    {% if logged_in %}
    <div id="my-actions" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{_('My data')}}</h4>
        </div>
        <div class="panel-body">
            <dl class="formdata">
            {% for k,v in form_data.iteritems() %}        
                    <dt>{{k}}</dt>
                    <dd>{{v|striptags}}</dd>
            {% endfor %}
            </dl>
            {% if logged_in and has_form %}
                {% if has_form_data %}
                    <a href="{{url_for(".registration_form", slug = slug)}}" title="{{_('Change my registration data')}}" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> {{_('edit')}}</a>
                {% else %}
                    <div class="alert alert-danger">{{_('please enter your personal data in order to register for this event')}}</div>
                    <a href="{{url_for(".registration_form", slug = slug)}}" title="{{_('Add my registration data')}}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> {{_('add')}}</a>
                    
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

