{% extends "_m/barcamps/master.html" %}

{% macro list(users, remove_url=None, to_participant_url=None) -%}
    <ul class="participants">
    {% for myuser in users %}
        <li class="participant">
            <div class="participant-actions">
                {% if user == myuser and remove_url %}
                    <form method="post" class="pull-right" action="{{remove_url}}">
                        <input type="hidden" name="u" value="{{myuser.username}}">
                        <button class="btn btn-danger btn-xs"><i class="fa-white fa fa-trash"></i></button>
                    </form>
                {% elif is_admin and remove_url %}
                    <form method="post" class="pull-right" action="">
                        <input type="hidden" name="u" value="{{myuser.username}}">
                        {% if to_participant_url %}
                            <a class="btn btn-xs btn-plus btn-primary form-submit" title="{{_("register user as participant")}}" href="{{to_participant_url}}"><i class="fa fa-plus"></i></a>
                        {% endif %}
                        {% if remove_url %}
                            <a class="form-submit btn btn-xs btn-danger" title="{{_('remove user from list')}}" href="{{remove_url}}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            {% set img = userview(myuser).image_thumb %}
            {% if img %}
            <a class="participant-avatar" href="{{url_for('profile', username = myuser.username)}}">
                <img class="profile-image-userlist" src="{{userview(myuser).image_thumb}}">
            </a>
            {% else %}
            <a class="participant-avatar" href="{{url_for('profile', username = myuser.username)}}">
                <i class="fa fa-user anon"></i>
            </a>
            {% endif %}
            <div class="participant-info">
                <h5><a href="{{url_for('profile', username = myuser.username)}}">{{myuser.fullname|e}}</a>
                    {% if myuser.has_organisation %}
                    <br><small>{{myuser.organisation}}</small>
                    {% endif %}
                </h5>
            </div>
        </li>
    {% endfor %}
    </ul>
{%- endmacro %}

{% block main_content %}
<div id="userlist">
    <section>
        <h2>{{_('Participants')}}</h2>
        {{list(barcamp.participant_users, remove_url=url_for('.unregister', slug = slug))}}
    </section>
    <section>
        <h2>{{_('Interested')}}</h2>
        {{list(barcamp.subscriber_users, remove_url=url_for('.subscribe', slug = slug), to_participant_url=url_for('.admin_register', slug = slug)+'?force=True')}}
    </section>
    <section>
        <h2>{{_('Waiting list')}}</h2>
        {{list(barcamp.waitinglist_users, remove_url=url_for('.unregister', slug = slug))}}
    </section>
</div>
{% endblock %}
