{% extends "admin_master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Create a new Barcamp')}}</h1>
    {% endblock %}
    <form class="form-validate validate" method="POST" action="{{url}}">  
        <fieldset>
            <legend>{{_("Base data")}}</legend>
            {{ formmacros.form_field(form.name, input_class="required", placeholder="Barcamp-Name") }}
            {{ formmacros.form_field(form.description, input_class="required", rows=10) }}
            {% if not barcamp.public %}
                {{ formmacros.form_field(form.slug, input_class="required urlscheme", maxlength="32", minlength="4", remote=url_for("barcamps.validate", slug = slug))}}
            {% endif %}
            {% if not edit %}
                {{ formmacros.form_field(form.size, input_class="required number") }}
            {% endif %}
            {{ formmacros.form_field(form.homepage, input_class="url") }}
        </fieldset>
        <fieldset>
            <legend>{{_("Dates")}}</legend>
            {{ formmacros.form_field(form.start_date, input_class="datepicker") }}
            {{ formmacros.form_field(form.end_date, input_class="datepicker") }}
        </fieldset>
        <fieldset>
            <legend>{{_("Address")}}</legend>
            {{ formmacros.form_field(form.location_name, input_class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_street, input_class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_city, input_class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_zip, input_class="span2", placeholder="") }}
            {{ formmacros.form_field(form.location_email, input_class="email span8", placeholder="") }}
            {{ formmacros.form_field(form.location_phone, input_class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_url, input_class="url span8", placeholder="") }}
            {{ formmacros.form_field(form.location_description, rows="3", input_class="span8", placeholder="") }}
        </fieldset>
        <fieldset>
            <legend>{{_("Social Media")}}</legend>
            {{ formmacros.form_field(form.twitter, prepend="http://twitter.com/", input_class="span2") }}
            {{ formmacros.form_field(form.hashtag, input_class="span4") }}
            {{ formmacros.form_field(form.twitterwall, input_class="span4 url") }}
            {{ formmacros.form_field(form.fbAdminId, input_class="span4 number") }}
        </fieldset>
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('create Barcamp')}}">
        {% endblock %}
    </form>
{% endblock %}
