{% extends "admin_master.html" %}

{% import "macros.html" as formmacros with context %}
{% from "_m/barcamps/admin/event_macros.html" import locationpicker with context %}
{% block content %}
    {% block title %}
        {% if paid %}
            <h1>{{_('Create a new paid Barcamp')}}</h1>
        {% else %}
            <h1>{{_('Create a new free Barcamp')}}</h1>
        {% endif %}
    {% endblock %}

    {{ locationpicker() }}

    <form class="form-horizontal parsley-validate" id="bcform" method="POST" id="add-form" action="{{url}}">
        <input type="hidden" id="tmp_lat" name="tmp_lat" value="">
        <input type="hidden" id="tmp_lng" name="tmp_lng" value="">
        <input type="hidden" name="own_coords" id="own_coords" value="no">
        {{form.location_lat()}}
        {{form.location_lng()}}
        <div class="form-group form-group-lg">
            <label for="name" class="col-sm-2 control-label">{{_('Title')}}*</label>
            <div class="col-sm-10">
                {{formmacros.f(form.name, required=True, placeholder=_('name of barcamp, e.g. \"PythonCamp\"'))}}                
            </div>
        </div>
        {% if show_slug -%} {# check for add screen #}
            <div class="form-group form-group-sm">
                <label for="slug" class="col-sm-2 control-label">{{_('URL name')}}*</label>
                <div class="col-sm-10">
                    {{formmacros.f(form.slug, required=True, 
                        placeholder=_('url short name without whitespaces, e.g. pythoncamp2011'), 
                        pattern="^[a-zA-Z0-9_\-]+$",
                        **{'data-parsley-remote-validator' : 'bcslug',
                           'data-parsley-remote-options' : '{ "data": { "bcid": "'+bcid+'" } }',
                           'data-parsley-remote': '1',
                           'data-parsley-remote-message' : _('This shortname is already taken.')})
                        }}
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">{{_('Description')}}*</label>
            <div class="col-sm-10">
                {{formmacros.my_field(form.description, input_class="wysiwyg", size="mce", rows=10, id="description", placeholder=_('Add more info'))}}
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">{{_('From')}}*</label>
            <div class="col-sm-4">
                {{formmacros.f(form.start_date, required=True, classes="datepicker", placeholder=_('Start date'))}}
            </div>
            <div class="col-sm-1">
            {{_('to')}}*
            </div>
            <div class="col-sm-4">
                {{formmacros.f(form.end_date, required=True, classes="datepicker", placeholder=_('End date'))}}
            </div>
        </div>
        <div class="form-group">
            <label for="hide_barcamp" class="col-sm-2 control-label">{{_('Hide Barcamp')}}</label>
            <div class="col-sm-10">
                {{formmacros.f(form.hide_barcamp)}}
            </div>
        </div>
        {% if paid=="free" %}
        <div class="form-group">
            <label for="repregistration" class="col-sm-2 control-label">{{_('Pre-Registration')}}</label>
            <div class="col-sm-10">
                {{formmacros.f(form.preregistration, disabled = barcamp is not none and barcamp.paid_tickets)}}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="hide_barcamp" class="col-sm-2 control-label">{{_('Receive notifications')}}</label>
            <div class="col-sm-10">
                {{formmacros.f(form.send_email_to_admins)}}
            </div>
        </div>     

        <fieldset id="legal-view">
            <legend>{{_('Legal Information')}}</legend>
            <div class="form-group">
                <label for="imprint" class="col-sm-2 control-label">{{_('Imprint')}}*</label>
                <div class="col-sm-10">
                    {{formmacros.my_field(form.imprint, required=barcamp.paid_tickets, input_class="wysiwyg", size="mce", rows=10, id="imprint", placeholder=_(''))}}
                </div>
            </div>
        </fieldset>



        <fieldset id="location-view">
            <legend>{{_('Location')}}</legend>                    

            <div class="form-group">
                <label class="col-sm-2 control-label">{{_('Where')}}*</label>
                <div class="col-sm-5">
                    <label class="sr-only" for="name">{{_('Name of location')}}*</label>
                    {{formmacros.f(form.location_name, required=True, placeholder=_('Name of the location'))}}
                </div>
                <div class="col-sm-5" data-content="{{_('Please enter a street')}}" id="error-street"
                        data-container="body" data-toggle="popover" data-placement="top">
                    <label class="sr-only" for="street">{{_('Street')}}</label>
                    {{formmacros.f(form.location_street, required=True, placeholder=_('Street'))}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <label class="sr-only" for="zip">{{_('zip')}}*</label>
                    {{formmacros.f(form.location_zip, required=True, placeholder=_('zip'))}}
                </div>
                <div class="col-sm-4" data-content="{{_('Please enter a city')}}" id="error-city"
                        data-container="body" data-toggle="popover" data-placement="top">
                    <label class="sr-only" for="city">{{_('City')}}*</label>
                    {{formmacros.f(form.location_city, required=True, placeholder=_('City'))}}
                </div>
                <div class="col-sm-3">
                    <label class="sr-only" for="country">{{_('Country')}}*</label>
                    {{formmacros.f(form.location_country, required=True, placeholder=_('Country'))}}
                </div>
                <div class="col-sm-1">
                    <button type="button" id="show-on-map" 
                        title="{{_('show the map')}}"
                        class="btn btn-info pull-right"><i class="fa fa-map-marker"></i></button>
                </div>
            </div>
            {{ formmacros.form_field(form.location_description, rows="3", label_class="col-sm-2", size="col-sm-10", placeholder="") }}
            {{ formmacros.form_field(form.location_email, label_class="col-sm-2", input_class="email", size="col-sm-10", placeholder="") }}
            {{ formmacros.form_field(form.location_phone, label_class="col-sm-2", input_class="", size="col-sm-10", placeholder="") }}
            {{ formmacros.form_field(form.location_url, label_class="col-sm-2", input_class="url", size="col-sm-10", placeholder="") }}
        </fieldset>
        {% block action %}
            {% if paid %}
                <input type="submit" class="btn btn-large btn-primary" value="{{_('create paid Barcamp')}}">
                <div class="help-block">
                    {{_('Please note: In order to publish your barcamp later you first need to add all the necessary legal information.')}}
                </div>
            {% else %}
                <input type="submit" class="btn btn-large btn-primary" value="{{_('create free Barcamp')}}">
            {% endif %}
            
        {% endblock %}
    </form>
{% endblock %}
