{% set menu="legal" %}
{% extends "admin_master.html" %}

{% import "macros.html" as formmacros with context %}
{% from "_m/barcamps/admin/event_macros.html" import locationpicker with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Edit legal information')}}</h1>
    {% endblock %}

    <form class="form-horizontal parsley-validate" id="bcform" method="POST" id="add-form" action="{{url}}">
        <fieldset id="legal-view">
            <legend>{{_('Legal information')}}</legend>
            {% if barcamp.paid_tickets %}
            <div class="text-danger">
                <p>
                    {{_('You need to fill this out if you take money for attending your events')}}
                </p>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="contact_email" class="col-sm-2">{{_('Contact email address')}}</label>
                <div class="col-sm-10">
                    {{formmacros.f(form.contact_email, type="email", placeholder=_('contact@barcamp'), maxlength=160)}}
                </div>
            </div>

            <div class="form-group">
                <label for="imprint" class="col-sm-2">{{_('Imprint')}}<sup>*</sup></label>
                <div class="col-sm-10">
                    {{formmacros.my_field(form.imprint, input_class="wysiwyg", size="mce", rows=10, id="imprint")}}
                </div>
            </div>
            
            <div class="form-group">
                <label for="tos" class="col-sm-2">{{_('Terms of Service')}}</label>
                <div class="col-sm-10">
                    {{formmacros.my_field(form.tos, input_class="wysiwyg", size="mce", rows=10, id="tos")}}
                </div>
            </div>
            
            <div class="form-group">
                <label for="cancel_policy" class="col-sm-2">{{_('Cancellation Policy')}}</label>
                <div class="col-sm-10">
                    {{formmacros.my_field(form.cancel_policy, input_class="wysiwyg", size="mce", rows=10, id="cancel_policy")}}
                </div>
            </div>
        </fieldset>

        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('Save Changes')}}">
            <a href="{{url_for("barcamps.index", slug = barcamp.slug)}}" class="btn btn-large">{{_('Cancel')}}</a>
        {% endblock %}
    </form>
{% endblock %}
