{% set menu="newsletter_send" %}
{% extends "admin_master.html" %}

{% block content %}
    {% block title %}
        <h1>{{_('Send Newsletter')}}</h1>
        <div class="description">
            {% if barcamp.ticketmode_enabled %}
                {{_('With this form you can send a newsletter to all participants with confirmed tickets. You can also test the newsletter by sending it to an email address of your choice')}}
            {% else %}
                {{_('With this form you can send a newsletter to either all participants, all interested members or both groups. You can also test the newsletter by sending it to an email address of your choice')}}
            {% endif %}
        </div>
    {% endblock %}
    <form class="parsley-validate horizontal-form" method="POST" action="{{url}}">
        <fieldset>
        {{ formmacros.form_field(form.subject, input_class="required") }}
        {{ formmacros.form_field(form.body, input_class="required", rows=15) }}
        {% if not barcamp.ticketmode_enabled %}
            {{ formmacros.form_field(form.recipients, input_class="required") }}
        {% endif %}
        {{ formmacros.form_field(form.testmail, input_class="email") }}
        </fieldset>
        {% block action %}
            <input type="hidden" id="sendtype" name="sendtype" value="">
            <input type="submit" data-type="test" name="send_test_mail" id="send_test_mail" class="subbutton btn btn-large" value="{{_('Send Test Mail')}}">
            <input type="submit"
                   data-type="live"
                   onclick="confirm('{{_('Really send Newsletter?')}}');"
                   name="send_newsletter"
                   id="send_newsletter"
                   class="subbutton btn btn-large btn-primary"
                   value="{{_('Send Newsletter')}}">
            <script language="javascript">
                $(document).ready(function() {
                    $(".subbutton").click(function(e) {
                        $("#sendtype").val(($(this).data("type")));
                    })
                })
            </script>
        {% endblock %}
    </form>
{% endblock %}
