{% set menu="sponsors" %}
{% extends "admin_master.html" %}

{% block content %}

            {% for sponsor in view.sponsors %}
                <div class="sponsor action-container">
                    <div class="sponsor-image">
                        <a href="{{sponsor.url}}">{{sponsor.image}}</a>
                    </div>
                    <div class="sponsor-description">
                        <h5>{{sponsor.name}}</h5>
                        <a href="{{sponsor.url}}">{{sponsor.url}}</a>
                    </div>

                    {% if is_admin %}
                    <div class="sponsor-edit actions">
                        <a 
                            data-confirm="Sind Sie sicher?" 
                            data-url="{{url_for('barcamps.sponsors', slug = slug)}}" 
                            data-idx="{{sponsor.idx}}"
                            role="button" 
                            class="asset-delete btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i></a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}

        <form id="sponsor-form" method="POST" action="{{url_for("barcamps.sponsors", slug=slug)}}">
            <h3>Neuen Sponsor anlegen</h3>
            {{ formmacros.form_field(sponsor_form.name, required=true)}}
            {{ formmacros.form_field(sponsor_form.url, input_class="url", required=true, placeholder=_('https://'))}}
            {{ formmacros.form_field(sponsor_form.image, input_class="",
                label="Bild hochladen", delete_label="Löschen", revert_label="Zurücksetzen",
                upload_url=url_for("asset_upload", slug=slug), postproc="sponsor")}}
            <div class="pull-right">
                <input type="submit" class="btn btn-lg btn-primary" value="Anlegen">
            </div>
        </form>

{% endblock %}

{% block js %}
    <script src="{{url_for("static", filename="js/uploader.js")}}"></script>
    <script src="{{url_for("static", filename="js/barcamp.js")}}"></script>
    {% block bcjs %}
    {% endblock %}
{% endblock %}
