{% set menu="tickets" %}
{% extends "admin_master.html" %}


{% macro userlist(users, tc_id, typ="participants") %}
    <ul class="admin-participants">
    {% for myuser in users %}
        <li class="participant">
            <a class="participant-avatar" href="{{url_for('profile', username = myuser.username)}}" data-toggle="tooltip" title="{{myuser.fullname}}">
                <img class="profile-image-userlist" src="{{userview(myuser).image_thumb}}">
            </a>
            <a class="participant-name" href="{{url_for('profile', username = myuser.username)}}" title="{{myuser.fullname}}">
                {{myuser.fullname}}
            </a>
            <div class="btn-group actions">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-gear"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if typ=="pending" %}
                        <li><a href="#" 
                            data-status="approve" 
                            data-tcid="{{tc_id}}" 
                            data-uid="{{myuser._id}}" 
                            class="listaction"><i class="fa fa-arrow-right"></i> {{_('Approve ticket')}}</a></li>
                        <li><a href="#" 
                            data-status="cancel" 
                            data-tcid="{{tc_id}}" 
                            data-uid="{{myuser._id}}" class="listaction"><i class="fa fa-arrow-left"></i> {{_('Cancel Ticket')}}</a></li>
                    {% elif typ=="confirmed" %}
                        <li><a href="#" 
                            data-status="cancel" 
                            data-tcid="{{tc_id}}" 
                            data-uid="{{myuser._id}}" class="listaction"><i class="fa fa-arrow-left"></i> {{_('Cancel Ticket')}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <div class="page-header">
        <h1>{{_('Manage ticket reservations')}}</h1>
    </div>
    {% for tc in ticketlist %}
        <section class="panel panel-info ticket-user-list">
            {% set pending = tc.get_ticket_users('pending') %}
            {% set confirmed = tc.get_ticket_users('confirmed') %}
            <div class="panel-heading">
                <h2 class="panel-title">{{tc.name}}</h2>
            </div>

            {% if pending %}
                <div class="panel-body">
                    <h4>{{'Pending Ticket Reservations'}}</h4>
                    {{userlist(pending, tc._id, typ="pending")}}
                </div>
            {% endif %}

            {% if confirmed %}
                <div class="panel-body">

                    <h4>{{'Confirmed Ticket Reservations'}}</h4>
                    {{userlist(confirmed, tc._id, typ="confirmed")}}
                </div>
            {% endif %}


        </section>
            
    {% endfor %}
{% endblock %}


{% block bcjs %}
<script type="text/javascript">
$(document).ready( function () {
    $(".listaction").click( function () {
        var uid = $(this).data("uid");
        var status = $(this).data("status");
        var tc_id = $(this).data("tcid");
        var url = document.location.href;
        console.log("ok")
        
        $.ajax({
            url: url,
            type: "POST",
            data: {
                status: status,
                tc_id: tc_id,
                uid: uid
            },
            success: function(data) {
                if (data.reload) {
                    window.location.reload();
                }
            }
        })
    })

})
</script>
{% endblock %}
