*.pyo
*.pyc
*.egg-info
*.cache
*.orig
*.swp
*.rej
._*
*~
*.o
.build
.sass-cache
static/js/tinymce
design/stylesheets
src/stylesheets
docs/_build
.project
.pydevproject
.settings
tmp
node_modules
.DS_Store
