*.pyo
*.pyc
*.egg-info
*.cache
*.orig
*.swp
*.rej
._*
*~
*.o
.build
.sass-cache
static/js/tinymce
design/stylesheets
src/stylesheets
docs/_build
.project
.pydevproject
.settings
tmp
.eggs
node_modules
.DS_Store
camper/templates/M
.tox
yarn.lock

camper/\.vscode/
camper/yarn.lock

# Scripts: log files and temporary data files (may contain sensitive user data)
scripts/gdpr_deletion_*.log