{% extends "master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Create a new Barcamp')}}</h1>
    {% endblock %}
    <form class="form-validate horizontal-form validate" method="POST" action="{{url}}">  
        <fieldset>
            <legend>{{_("Base data")}}</legend>
            {{ formmacros.form_field(form.name, class="required span8", placeholder="Barcamp-Name") }}
            {{ formmacros.form_field(form.description, class="required span8", rows=10) }}
            {% if not barcamp.public %}
                {{ formmacros.form_field(form.slug, class="required urlscheme span4", maxlength="32", minlength="4", remote=url_for("barcamps.validate", slug = slug))}}
            {% endif %}
            {% if not edit %}
                {{ formmacros.form_field(form.size, class="required span2 number") }}
            {% endif %}
            {{ formmacros.form_field(form.homepage, class="span4 url") }}
        </fieldset>
        <fieldset>
            <legend>{{_("Dates")}}</legend>
            {{ formmacros.form_field(form.start_date, class="span4 datepicker") }}
            {{ formmacros.form_field(form.end_date, class="span4 datepicker") }}
        </fieldset>
        <fieldset>
            <legend>{{_("Address")}}</legend>
            {{ formmacros.form_field(form.location_name, class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_street, class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_city, class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_zip, class="span2", placeholder="") }}
            {{ formmacros.form_field(form.location_email, class="email span8", placeholder="") }}
            {{ formmacros.form_field(form.location_phone, class="span8", placeholder="") }}
            {{ formmacros.form_field(form.location_url, class="url span8", placeholder="") }}
            {{ formmacros.form_field(form.location_description, rows="3", class="span8", placeholder="") }}
        </fieldset>
        <fieldset>
            <legend>{{_("Social Media")}}</legend>
            {{ formmacros.form_field(form.twitter, prepend="http://twitter.com/", class="span2") }}
            {{ formmacros.form_field(form.hashtag, class="span4") }}
            {{ formmacros.form_field(form.twitterwall, class="span4 url") }}
            {{ formmacros.form_field(form.fbAdminId, class="span4 number") }}
        </fieldset>
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('create Barcamp')}}">
        {% endblock %}
    </form>
{% endblock %}
