{% if not body_id %}
    {% set body_id ="admin" %}
{% endif %}
{% set body_class="admin" %}
{% if not container %}
    {% set container="simple" %}
{% endif %}
{% extends "master.html" %}
{% import "macros.html" as formmacros with context %}
{% block head %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for("static", filename="/css/components.css")}}" />

    <script src="{{url_for('static', filename='js/components.js')}}"></script>
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>
    <script src="{{url_for("static", filename='js/parsley.remote.min.js')}}"></script>
    
    {% if locale == "de" %}
        <script src="{{url_for('static', filename='js/bootstrap-datepicker.de.js')}}"></script>
        <script src="{{url_for('static', filename='js/angular-locale_de-de.js')}}"></script>
    {% elif locale == "en" %}
        <script src="{{url_for('static', filename='js/bootstrap-datepicker.en-GB.js')}}"></script>
    {% endif %}


{% endblock %}

{% block container %}
<div class="{{'container-fluid' if container=="full" else 'container'}}">
    <div class="row">
        {% block full_content %}
        {% if slug %}
        <div class="{{'col-lg-2 col-md-2' if container=='full' else 'col-lg-3 col-md-4'}}">
            <ul class="nav navbar-side">
                <li class="back-to-bc"><a href="{{url_for("barcamps.index", slug=slug)}}"><i class="fa fa-arrow-left"></i> <span>{{_('public view')}}</span></a></li>
                <li><a href="#logo-upload" role="button" data-toggle="modal"><i class="fa fa-upload"></i> {{_('Upload Logo')}}</a></li>
                <li class="{{'active' if menu=='edit'}}"><a href="{{url_for("barcamps.edit", slug=slug)}}"><i class="fa fa-edit"></i> {{_('edit base information')}}</a></li>
                <li class="{{'active' if menu=='events'}}"><a href="{{url_for("barcamps.events", slug=slug)}}"><i class="fa fa-calendar"></i> {{_('edit events')}}</a></li>
                <li class="{{'active' if menu=='registration'}}"><a href="{{url_for("barcamps.registration_form_editor", slug=slug)}}"><i class="fa fa-tags"></i> {{_('edit registration form')}}</a></li>
                <li class="{{'active' if menu=='blog'}}"><a href="{{url_for("blog.entries", slug=slug)}}"><i class="fa fa-newspaper-o"></i> {{_('Manage Blog')}}</a></li>
                <li class="{{'active' if menu=='pages'}}"><a href="{{url_for("pages.barcamp_pages", slug=slug)}}"><i class="fa fa-file"></i> {{_('Custom Pages')}}</a></li>
                <li class="{{'active' if menu=='design'}}"><a href="{{url_for("barcamps.admin_design", slug=slug)}}"><i class="fa fa-magic"></i> {{_('Design and Layout')}}</a></li>
                <li class="{{'active' if menu=='galleries'}}"><a href="{{url_for("barcamps.admin_galleries", slug=slug)}}"><i class="fa fa-photo"></i> {{_('Galleries')}}</a></li>
                <li class="{{'active' if menu=='mail_templates'}}"><a href="{{url_for('barcamps.email_template_editor', slug=slug)}}"><i class="fa fa-envelope"></i> {{_('edit mail templates')}}</a></li>
                <li><a href="{{url_for("barcamps.registration_data_export", slug=slug)}}"><i class="fa fa-download"></i> {{_('download participants')}}</a></li>
                <li class="{{'active' if menu=='newsletter_send'}}"><a href="{{url_for("barcamps.newsletter_send", slug=slug)}}"><i class="fa fa-share"></i> {{_('send newsletter')}}</a></li>
                <li class="{{'active' if menu=='sponsors'}}"><a href="{{url_for("barcamps.sponsors", slug=slug)}}" role="button" data-toggle="modal"><i class="fa fa-dollar"></i> {{_('new sponsor')}}</a></li>
                <li class="{{'active' if menu=='permissions'}}"><a href="{{url_for("barcamps.permissions", slug=slug)}}"><i class="fa fa-list"></i> {{_('edit permissions')}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-side barcamp-delete">
                <li><a class="btn btn-block btn-danger" href="{{url_for("barcamps.delete", slug=slug)}}"><i class="fa fa-trash"></i>{{_('DELETE BARCAMP')}}</a></li>
            </ul>            
        </div>
        {% endif %}
        <div class="{{'col-lg-10 col-md-10' if container=='full' else 'col-lg-9 col-md-8    '}}">

            {% for m in get_flashes(with_categories=True) %}
                <div class="alert alert-{{m[0]}}" role="alert">
                    <strong>{{m[1]}}</strong><br>
                </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        CONFIG = {
            slug_validation_url : "{{url_for('barcamps.validate')}}",
            page_slug_validation_url : "{{url_for('pages.slug_validate', slug = slug, page_slug = page_slug) if page_slug else ''}}"
        }
    </script>
    {# TODO: create another admin.js with non-bower files maybe specific for each page #}
    
    {% block bcjs %}
    {% endblock %}
{% endblock %}

