{% if not body_id %}
    {% set body_id ="admin" %}
{% endif %}
{% set body_class="admin" %}
{% if not container %}
    {% set container="simple" %}
{% endif %}
{% extends "master.html" %}
{% import "macros.html" as formmacros with context %}
{% block head %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for("static", filename="/css/components.css")}}" />




{% endblock %}

{% block container %}
<div class="{{'container-fluid' if container=="full" else 'container'}}">
    <div class="row">
        {% block full_content %}
        {% if slug %}
        <div class="{{'col-lg-2 col-md-2' if container=='full' else 'col-lg-3 col-md-4'}}">
            <nav class="admin-nav">
                <a class="btn btn-lg btn-block btn-success" target="preview" href="{{url_for("barcamps.index", slug=slug)}}"><i class="fa fa-files-o"></i> {{_('public view')}}</a>

                <hr>
                <ul>
                    <li class="{{'active' if menu=='wizard'}}"><a href="{{url_for("barcamps.admin_wizard", slug=slug)}}"><i class="fa fa-tasks"></i> {{_('Complete your barcamp')}}</a>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar {{'progress-bar-success' if complete==100 else 'progress-bar-warning'}} progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="font-family: Roboto; font-weight: 700; font-size: 10px; padding: 0px; width: {{complete}}%;">
                            {{complete}}%
                        </div>
                    </div>
                    </li>

                </ul>
                <h4>{{_('Basic Information')}}</h4>

                <ul>
                    <li class="{{'active' if menu=='edit'}}"><a href="{{url_for("barcamps.edit", slug=slug)}}"><i class="fa fa-edit"></i> {{_('edit base information')}}</a></li>
                    <li class="{{'active' if menu=='design'}}"><a href="{{url_for("barcamps.admin_design", slug=slug)}}"><i class="fa fa-magic"></i> {{_('Design and Layout')}}</a></li>
                    <li class="{{'active' if menu=='sponsors'}}"><a href="{{url_for("barcamps.sponsors", slug=slug)}}" role="button" data-toggle="modal"><i class="fa fa-dollar"></i> {{_('manage sponsors')}}</a></li>
                    <li class="{{'active' if menu=='events'}}"><a href="{{url_for("barcamps.events", slug=slug)}}"><i class="fa fa-calendar"></i> {{_('edit events')}}</a></li>
                    <li class="{{'active' if menu=='tickets'}}"><a href="{{url_for("barcamps.admin_ticketeditor", slug=slug)}}"><i class="fa fa-gear"></i> {{_('configure tickets')}}</a></li>
                    {% if barcamp.ticketmode_enabled %}
                        <li class="{{'active' if menu=='ticketlist'}}"><a href="{{url_for("barcamps.admin_ticketlist", slug=slug)}}"><i class="fa fa-ticket"></i> {{_('manage tickets')}}</a></li>
                    {% endif %}
                    <li class="{{'active' if menu=='registration'}}"><a href="{{url_for("barcamps.registration_form_editor", slug=slug)}}"><i class="fa fa-tags"></i> {{_('edit registration form')}}</a></li>
                </ul>

                <h4>{{_('Information')}}</h4>
                <ul>
                    <li class="{{'active' if menu=='galleries'}}"><a href="{{url_for("barcamps.admin_galleries", slug=slug)}}"><i class="fa fa-photo"></i> {{_('Galleries')}}</a></li>
                    <li class="{{'active' if menu=='blog'}}"><a href="{{url_for("blog.entries", slug=slug)}}"><i class="fa fa-newspaper-o"></i> {{_('Manage Blog')}}</a></li>
                    <li class="{{'active' if menu=='pages'}}"><a href="{{url_for("pages.barcamp_pages", slug=slug)}}"><i class="fa fa-file"></i> {{_('Custom Pages')}}</a></li>
                    <li class="{{'active' if menu=='newsletter_send'}}"><a href="{{url_for("barcamps.newsletter_send", slug=slug)}}"><i class="fa fa-share"></i> {{_('send newsletter')}}</a></li>

                </ul>

                <h4>{{_('Advanced')}}</h4>
                <ul>
                    <li class="{{'active' if menu=='permissions'}}"><a href="{{url_for("barcamps.permissions", slug=slug)}}"><i class="fa fa-list"></i> {{_('edit permissions')}}</a></li>
                    <li class="{{'active' if menu=='mail_templates'}}"><a href="{{url_for('barcamps.email_template_editor', slug=slug)}}"><i class="fa fa-envelope"></i> {{_('edit mail templates')}}</a></li>
                    <li><a href="{{url_for("barcamps.registration_data_export", slug=slug)}}"><i class="fa fa-download"></i> {{_('download participants')}}</a></li>
                </ul>
            </nav>
        </div>
        {% endif %}
        <div class="{{'col-lg-10 col-md-10' if container=='full' else 'col-lg-9 col-md-8    '}}">
            {% if barcamp.workflow=="created" %}
                <form action="{{url_for('barcamps.permissions', slug=slug)}}" method="POST">
                    <input type="hidden" name="wf" value="public">
                    <div class="well">
                        <button class="pull-right btn btn-small btn-success">{{_('publish barcamp')}}</button>
                        <b style="color: red">{{_('this barcamp is not public')}}</b>
                    </div>
                </form>
            {% elif barcamp.workflow == "public" %}
                <form action="{{url_for('barcamps.permissions', slug=slug)}}" method="POST">
                    <input type="hidden" name="wf" value="registration">
                    <div class="well">
                        <button class="pull-right btn btn-small btn-success">{{_('open registration')}}</button>
                        <b style="color: red">{{_('Registration for this barcamp is not yet open.')}}</b>
                    </div>
                </form>
            {% endif %}

            {% for m in get_flashes(with_categories=True) %}
                <div class="alert alert-{{m[0]}}" role="alert">
                    <strong>{{m[1]}}</strong><br>
                </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
            {% block footer %}
        <footer role="contentinfo">
            <div class="container">
                <a href="/impressum.html">Impressum</a>
            </div>
        </footer>
        {% endblock %}

</div>
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/components.min.js')}}"></script>
    <script src="{{url_for("static", filename='js/parsley.remote.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>
    
    {% if locale == "de" %}
        <script src="{{url_for('static', filename='js/bootstrap-datepicker.de.js')}}"></script>
    {% elif locale == "en" %}
        <script src="{{url_for('static', filename='js/bootstrap-datepicker.en-GB.js')}}"></script>
    {% endif %}
    <script>
        CONFIG = {
            slug_validation_url : "{{url_for('barcamps.validate')}}",
            page_slug_validation_url : "{{url_for('pages.slug_validate', slug = slug or '', page_slug = page_slug) if page_slug else url_for('pages.slug_validate', slug = slug or '')}}"
        }
    </script>
    
    {% block bcjs %}
    {% endblock %}

{% endblock %}


