{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    
        <!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800' rel='stylesheet' type='text/css'>
        
        {% block css %}
        <link href="{{url_for("static", filename="css/main.css")}}" rel="stylesheet">
        <link href="{{url_for("uploader.static", filename="css/fileuploader.css")}}" rel="stylesheet">
        <link type="text/css" href="{{url_for("static", filename="css/smoothness/jquery-ui-1.8.20.custom.css")}}" rel="stylesheet" /> 
        {#
        <link href="{{vpath}}/static/css/custom.css" rel="stylesheet">
        #}
        {% endblock %}
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    
    </head>

    <body>
        {% block container %}
        <div class="container-fluid">
            {% for m in get_flashes(with_categories=True) %}
                <div class="alert alert-{{m[0]}}">
                <strong>{{m[1]}}</strong><br>
                </div>
            {% endfor %}
    
            {% block content %}
            {% endblock %}
        </div> <!-- /container -->
        {% endblock %}

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{url_for("static", filename="js/jquery.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/underscore.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.form.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.metadata.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/autonumeric.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.numeric.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.validate.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/messages_de.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.ui.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.ui.datepicker-de.js")}}"></script>
        
        
        <script>
            $(document).ready( function () {
                $('.popinfo').popover();
                $('.ttip').tooltip();
                $(".btn-toggle").click( function () {
                    $(this).button("toggle");
                    var f = $(this).attr("for");
                    if ($(this).hasClass("active")) {
                        $(this).find(".icon").addClass("icon-ok");
                        $("#"+f).attr("value", "1");
                    } else {
                        $(this).find(".icon").removeClass("icon-ok");
                        $("#"+f).attr("value", "0");
                    }
                    var form = $(this).parents("form.live");
                    $(this).parents("form.live").submit();
                    return false;
                });

                $('input.currency').autoNumeric({aSep: '', aDec: ',', aSign: '', wEmpty: 'zero'});
                $(".numeric").numeric(false, function() { alert("Bitte nur Zahlen"); this.value = ""; this.focus(); });
            });
        </script>
        {% block js %}
        {% endblock %}

        <script src="{{url_for("static", filename="js/bootstrap-dropdown.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-transition.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-modal.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-button.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-tab.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-tooltip.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-alert.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-popover.js")}}"></script>
        <script src="{{url_for("static", filename="js/forms.js")}}"></script>
        <script src="{{url_for("uploader.static", filename="js/fileuploader.js")}}"></script>
        <script>

    </body>
</html>
