{% extends "master.html" %}

{% block content %}
        <h2>Impressum</h2>
        <p>
            Camper ist ein Internetangebot von <a href="http://jugend.beteiligen.jetzt" target="_blank">»jugend.beteiligen.jetzt - für die Praxis digitaler Partizipation«</a>, einem Kooperationsprojekt der <a href="https://www.dkjs.de" target="_blank">Deutschen Kinder- und Jugendstiftung (DKJS)</a>, des <a href="https://www.dbjr.de" target="_blank">Deutschen Bundesjugendrings (DBJR)</a> und von <a href="https://www.ijab.de" target="_blank">IJAB – Fachstelle für Internationale Jugendarbeit der Bundesrepublik Deutschland e.V.</a>.
        </p>

        Verantwortlich im Sinne des § 5 TMG und §55 I und II RStV ist
    
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-4">
                <a href="https://www.dbjr.de" target="_blank">Deutscher Bundesjugendring</a><br>
                Mühlendamm 3<br>
                10178 Berlin<br>
                Deutschland<br>

                E-Mail: <a href="mailto:digital@dbjr.de">digital@dbjr.de</a><br>
                Telefon: 030/ 40040-400<br>
                Fax: 030/ 40040-422<br>
            </div>
            <div class="col-lg-8">
                <p>
                    Vereinsregister (nach § 6 Nr. 1 TDG):<br>
                    Amtsgericht Berlin-Charlottenburg Nr.: 23372Nz<br>
                </p>
                <p>
                    Vertretungsberechtigter Vorstand: Lisi Maier, Tobias Köck (Vorsitzende)<br>
                    Verantwortlich: Clara Wengert, Geschäftsführerin<br>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-4">
                <h4>Implementierung</h3>
                <a href="http://comlounge.net">COM.lounge GmbH</a><br>
                Hanbrucher Strasse 33<br>
                52064 Aachen <br>
                Tel.: +49 241 400 730 00<br>
                Fax: +49 241 979 00 850<br>
                E-Mail: <a href="mailto: info@comlounge.net">info@comlounge.net</a><br>
                Source-Code: <a href="https://github.com/comlounge/camper">github</a>
            </div>
        </div>
    </div>

{% endblock %}

