{% extends "master.html" %}

{% block content %}
    <h1 id="logo">Camper</h1>
    <div class="row">
        <div class="span8">
            <h2>{{_("Recent Barcamps")}}</h2>
            <ul>
                {% for view in barcamps %}
                    {% if view.barcamp.public or view.is_admin or is_main_admin %}
                        <li>
                            <a href="{{url_for("barcamp", slug = view.barcamp.slug)}}">{{view.barcamp.name}}</a>
                            {% if not view.barcamp.public %}
                                <span class="label label-warning">{{_('private')}}</span>
                            {% endif %}
                            {% if view.is_admin %}
                                <span class="label label-success">{{_('ADMIN')}}</span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a href="{{url_for("barcamp_add")}}" id="create-new-barcamp-button" class="btn btn-large btn-primary"><i class="icon icon-white icon-plus"></i> {{_('create new barcamp')}}</a>
        </div>
        <div class="span4">
        </div>
    </div>

    <div class="logo-footer row">
        <div class="span8">
            <h5>in Kooperation mit</h5>
                <a target="sponsor" href="http://ijab.de"><img alt="IJAB" src="{{url_for('static', filename="img/ijab-web.gif")}}"></a>
                <a target="sponsor" href="http://www.ijab.de/aktivitaeten/internationale-zusammenarbeit/epartizipation-youthpart/"><img alt="YouthPart" src="{{url_for('static', filename="img/youthpart2.jpg")}}"></a>
        </div>
        <div class="span4">
            <h5>gefördert vom</h5>
                <a target="sponsor" href="http://www.bmfsfj.de/"><img alt="Bundesministerium für Familie, Senioren, Frauen und Jugend" src="{{url_for('static', filename="img/bmfsfj.jpg")}}"></a>
        </div>
        
    </div>

{% endblock %}

