{% extends "master.html" %}


{% macro listing(barcamps) %}
    {% for view in barcamps %}
        <article class="barcamp content-area">
            <header>
                {% if view.logo %}
                    <h4>{{view.logo}}</h4>
                {% else %}
                    <h4><a href="{{url_for("barcamps.index", slug = view.barcamp.slug)}}">{{view.barcamp.name}}</a></h4>
                {% endif %}
            </header>
            <div class="pull-right">
                {% if not view.barcamp.public %}
                    <span class="label label-warning">{{_('private')}}</span>
                {% endif %}
                {% if view.is_admin %}
                    <span class="label label-success">{{_('ADMIN')}}</span>
                {% endif %}
            </div>
            <div class="byline">
                {{view.date}}, {{view.short_location}}
            </div>
            <footer>
            </footer>
        </article>
    {% endfor %}
{% endmacro %}

{% block content %} 
    <div class="row">   
        <div class="span6">
            <h1 id="logo pull-left">
                <img src="{{url_for("static", filename="/img/camperfull.png")}}" alt="Camper - logo">
            </h1>
        </div>
        <div class="span6">
            <div class="widget">
                <a href="{{url_for("sponsoring")}}" title="{{_('Receive sponsorship for a youthbarcamp')}}"><img src="{{url_for("static", filename="/img/sponsoring.png")}}" alt="Sponsor-Logo"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h2>{{_("Recent Barcamps")}}</h2>
            {% if soon_barcamps %}
                {{listing(soon_barcamps) }}
            {% else %}
                <div class="well well-big">
                    {{_("There are no barcamps coming up in the near future. Maybe organize one?")}}
                </div>
            {% endif %}
        </div>
        <div class="span6">
            {% if new_barcamps %}
                <h2>{{_("Newly created Barcamps")}}</h2>
                {{listing(new_barcamps) }}
            {% endif %}
        </div>
    </div>

    <hr class="thick">

    <div class="footer row">
        <div class="span12 logo-footer">
            <div class="pull-right">
                <h5>gefördert vom</h5>
                    <a target="sponsor" href="http://www.bmfsfj.de/"><img alt="Bundesministerium für Familie, Senioren, Frauen und Jugend" src="{{url_for('static', filename="img/bmfsfj.jpg")}}"></a>
            </div>
            <div class="">
                <h5>in Kooperation mit</h5>
                    <a target="sponsor" href="http://ijab.de"><img alt="IJAB" src="{{url_for('static', filename="img/ijab-web.gif")}}"></a>
                    <a target="sponsor" href="http://www.ijab.de/aktivitaeten/internationale-zusammenarbeit/epartizipation-youthpart/"><img alt="YouthPart" src="{{url_for('static', filename="img/youthpart2.jpg")}}"></a>
            </div>
        </div>
    </div>

{% endblock %}

