

{% macro f(field, classes="") -%}
    {{ field(class="form-control "+classes, **kwargs) }}
    {% if field.description %}
        <p class="help-block">{{ _(field.description) }}</p>
    {% endif %}
{%- endmacro %}

{% macro my_field(field, prepend=None, append=None, input_class="", no_size=False, required=False, size="") -%}
    {% if no_size %}
        {{ field(class="form-control"+(' required ' if required else ' ')+input_class, required = required == True, **kwargs)}}
        {% if field.description %}
            <p class="help-block">{{ _(field.description) }}</p>
        {% endif %}
    {% else %}
        <div class="{{size}}">
            {{ field(class="form-control"+(' required ' if required else ' ')+input_class, required = required == True, **kwargs) }}
            {% if field.description %}
                <p class="help-block">{{ _(field.description) }}</p>
            {% endif %}
        </div>    
    {% endif %}
{%- endmacro %}

{%- macro form_field_label(field, label_class="") -%}
    <label class="control-label {{label_class}}" for="{{ field.id }}">{{ _(field.label.text) }}
    {%- if field.flags.required -%}
        <abbr title="{{_('This field is required')}}">*</abbr>
    {%- endif %}</label>
{% endmacro %}

{%- macro form_field_errors(field) -%}
    {% if field.errors %}
        {%- for error in field.errors -%}
        <span class="label label-danger">{{ error }}</span>
        {%- endfor -%}
    {% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}
<div class="checkbox" id="{{field.id}}-div">
    <label>
        {{field(**kwargs)}}
        {{ _(field.label.text) }}
        <p class="help-block">{{ _(field.description) }}</p>
    </label>
</div>
{%- endmacro -%}

{%- macro form_field_radio(field) -%}
{% for subfield in field %}
    <div class="radio" id="{{field.id}}-div">
        <label>
            {{ subfield() }}
            {{ _(subfield.label.text) }}
        </label>
    </div>
{% endfor %}
{%- endmacro -%}

{%- macro form_field_multicheckbox(field, input_class) -%}
    {% for subfield in field %}
        <div class="checkbox">
            <label>
                {{ subfield(class=input_class) }}
                {{ _(subfield.label.text) }}
            </label>
        </div>
    {% endfor %}
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Zurück setzten", submit_class="primary") -%}
<div class="actions">
    <input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
    &nbsp;
    <button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}

{%- macro form_field(field, label_class="", input_class="", size="") -%}
    <div class="form-group {{'error' if field.errors}}" id="field-{{field.id}}">
    {% if field.type == 'HiddenField' %}
        {{ field() }}
    {% else %}
        {% if field.type == 'BooleanField' %}
            {{ form_field_boolean(field, **kwargs) }}
        {% else%}
            {{ form_field_label(field, label_class) }}
            {% if field.type == 'MultiCheckboxField' %}
                {{ form_field_multicheckbox(field, input_class) }}
            {% elif field.type == 'RadioField' %}
                {{ form_field_radio(field) }}
            {% else %}
                {{ my_field(field, input_class=input_class, size=size, **kwargs) }}
            {% endif %}
            {{ form_field_errors(field) }}
        {% endif %}
    {% endif %}
    </div>
{%- endmacro -%}

{%- macro form_fields(fields, class=None, legend=None) -%}
    <fieldset {% if class %}class="{{class}}"{% endif %}>
        {% if legend %}
            <legend>{{legend}}</legend>
        {% endif %}
    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
            {{ field() }}
                {% else %}
            {{ form_field(field) }}
        {% endif %}
    {% endfor %}
  </fieldset>
{%- endmacro -%}

{% macro delbutton(entry, classes="", show_label = False) -%}
    <a href="#" class="confirmdelete btn btn-danger {{classes}}" 
                data-entry="{{entry._id}}" 
                data-url="{{url}}"
                data-title="{{_('Really Delete?')}}" 
                data-toggle="confirmation" 
                data-btn-ok-label="{{_('Yes')}}" 
                data-btn-ok-icon="fa fa-ok" 
                data-btn-ok-class="btn btn-success btn-xs" 
                data-btn-cancel-label="{{_('No')}}" 
                data-btn-cancel-icon="fa fa-ban" 
                data-btn-cancel-class="btn btn-danger btn-xs">
        <i class="fa fa-trash"></i> 
            {% if show_label %}
                {{_('Delete')}}
            {% endif %}
    </a>

{% endmacro %}


