
{% macro wf_button(transaction, came_from = None, css="") -%}
    {% set client = transaction.client %}
    {% set client_id = transaction.d.client_id %}
    {% set tparams = {'client_id' : client_id, 'transaction_id' : transaction.d._id} %}
    {% set state = transaction.d.wf_state %}
    {% if state not in ['shipped', 'canceled'] %}
        <form action="{{url_for('transaction_wf', **tparams)}}" method="POST" class="{{css}}">
            {% if came_from %}
            <input type="hidden" name="came_from" value="{{came_from}}">
            {% endif %}
            {% if state=='offered' %}
                <button name="wf_state" 
                        value="ordered" 
                        class="btn btn-info">
                        <i class="icon icon-white icon-arrow-right"></i>
                        in Bestellung geben
                </button>
            {% elif state=='ordered' %}
                <button name="wf_state" 
                        value="checked" 
                        class="btn btn-info">
                        <i class="icon icon-white icon-arrow-right"></i>
                        kontrolliert
                </button>
            {% elif state=='checked' %}
                <button name="wf_state" 
                        value="printed" 
                        class="btn btn-info">
                        <i class="icon icon-white icon-arrow-right"></i>
                        gedruckt
                </button>
            {% elif state=='printed' %}
                <button name="wf_state" 
                        value="shipped" 
                        class="btn btn-info">
                        <i class="icon icon-white icon-arrow-right"></i>
                        versandt
                </button>
            {% endif %}
        </form>
    {% endif %}
{%- endmacro %}

{% macro my_field(field, prepend=None, append=None, input_class="", required=False) -%}
            <div class="{{input_class}} {{'input-prepend' if prepend}} {{'input-append' if append}}">
                {% if prepend %}
                    <span class="add-on">{{prepend}}</span>
                {% endif %}

                {{ field(class="form-control {{'required' if required}}", **kwargs) }}

                {% if append %}
                    <span class="add-on">{{append}}</span>
                {% endif %}
                
          </div>
{%- endmacro %}

{%- macro form_field_label(field, label_class="") -%}
    <label class="{{label_class}}" for="{{ field.id }}">{{ _(field.label.text) }}
    {%- if field.flags.required -%}
        <abbr title="{{_('This field is required')}}">*</abbr>
    {%- endif %}</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
    {% if field.description %}
        <p class="help-block">{{ _(field.description) }}</p>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
    {% if field.errors %}
        {%- for error in field.errors -%}
        <span class="label label-important">{{ error }}</span>
        {%- endfor -%}
    {% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}
<div class="controls" id="{{field.id}}-div">
    <label class="checkbox" for="{{ field.id }}" id="field-{{field.id}}">
        {{field(**kwargs)}}
        {{ _(field.label.text) }}
        <p class="help-block">{{ _(field.description) }}</p>
    </label>
</div>
{%- endmacro -%}
{%- macro form_field_radio(field) -%}
<div class="controls" id="{{field.id}}-div">
    {% for subfield in field %}
    <label class="radio">
        {{ subfield() }}
        {{ _(subfield.label.text) }}
    </label>
    {% endfor %}
</div>
{%- endmacro -%}
{%- macro form_field_multicheckbox(field) -%}
    {% for subfield in field %}
        <label class="checkbox">
            {{ subfield() }}
            {{ subfield.label.text }}
        </label>
    {% endfor %}
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Zurück setzten", submit_class="primary") -%}
<div class="actions">
    <input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
    &nbsp;
    <button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}

{%- macro form_field(field, label_class="", input_class="") -%}
    <div class="form-group {{'error' if field.errors}}" id="field-{{field.id}}">
    {% if field.type == 'HiddenField' %}
        {{ field() }}
    {% else %}
        {% if field.type == 'BooleanField' %}
            {{ form_field_boolean(field, **kwargs) }}
        {% else%}
            {{ form_field_label(field, label_class) }}
            {% if field.type == 'MultiCheckboxField' %}
                {{ form_field_multicheckbox(field) }}
            {% elif field.type == 'RadioField' %}
                {{ form_field_radio(field) }}
            {% else %}
                {{ my_field(field, input_class=input_class, **kwargs) }}
            {% endif %}
            {{ form_field_errors(field) }}
            {{ form_field_description(field) }}
        {% endif %}
    {% endif %}
    </div>
{%- endmacro -%}

{%- macro form_fields(fields, class=None, legend=None) -%}
    <fieldset {% if class %}class="{{class}}"{% endif %}>
        {% if legend %}
            <legend>{{legend}}</legend>
        {% endif %}
    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
            {{ field() }}
                {% else %}
            {{ form_field(field) }}
        {% endif %}
    {% endfor %}
  </fieldset>
{%- endmacro -%}



{#
## CLIENT WIDGETS
#}


{%- macro address(client, full=True) -%}
    <address>
        <strong>{{client.fullname}}</strong> <br>
        {% if client.d.company %}{{client.d.company}}<br>{%endif %}
        {{client.d.address}} <br>
        {% if client.d.address_comment %}Kommentar: {{client.d.address_comment}}<br>{%endif %}
        {{client.d.zip}} {{client.d.city}}<br>
        {{client.country}}<br>
        {% if full %}
            {% if client.d.phone %}Telefon: {{client.d.phone}}<br>{%endif %}
            {% if client.d.mobile %}Mobil: {{client.d.mobile}}<br>{%endif %}
            {% if client.d.fax %}Fax: {{client.d.fax}}<br>{%endif %}
            {% if client.d.email %}E-Mail: <a href="mailto:{{client.d.email}}">{{client.d.email}}</a><br>{%endif %}
            Steuernummer: {{client.d.taxnr}}<br>
            Mehrwertsteuer: {{client.d.mwst}} %<br>
        {% endif %}
    </address>
{%- endmacro -%}
{%- macro shipping_address(client) -%}
{%- endmacro -%}

