{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    
        <!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800' rel='stylesheet' type='text/css'>
        
        {% block css %}
        <link href="{{url_for("static", filename="css/main.css")}}" rel="stylesheet">
        <link href="{{url_for("static", filename="css/colorbox.css")}}" rel="stylesheet">
        <link href="{{url_for("uploader.static", filename="css/fileuploader.css")}}" rel="stylesheet">
        <link type="text/css" href="{{url_for("static", filename="css/smoothness/jquery-ui-1.8.20.custom.css")}}" rel="stylesheet" /> 
        <link rel="shortcut icon" href="{{url_for("static", filename="img/favicon.ico")}}" type="image/x-icon">
        <link rel="icon" href="{{url_for("static", filename="img/favicon.ico")}}" type="image/x-icon">
        
        {#
        <link href="{{vpath}}/static/css/custom.css" rel="stylesheet">
        #}
        {% endblock %}
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        {% block head %}
        {% endblock %}
    
    </head>

    <body data-i18n-areyousure="{{_("Are you sure?")}}">
    <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '{{config.fb_app_id}}',               // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{url_for("index")}}">Camper - das Barcamp-Tool</a>
                    <ul class="nav">
                        <li class="active"><a href="/">{{_('Home')}}</a></li>
                        {% for page in menu_pages %}
                            <li>
                                <a href="{{url_for("page", page_slug=page.slug)}}">{{page.menu_title}}</a>
                            </li>
                        {% endfor %}
                        {% for action in top_actions %}
                            <li class="{{'active' if action.active}}">
                                <a href="{{action.url}}">{{action.name}}</a>
                            </li>
                        {% endfor %}
                        <li><a target="blog" href="http://blog.barcamptools.eu">{{_('Blog')}}</a></li>
                        <li><a target="feedback" href="http://yourpart.eu/p/camper">{{_('Ideen/Feedback')}}</a></li>
                    </ul>
                    {% if is_main_admin %}
                        <ul class="nav pull-right"> 
                            <li><a href="{{url_for("admin_index")}}"><b>ADMINISTRATION</b></a></li>
                        </ul>
                    {% endif %}
                    {% if not logged_in %}
                        <div class="pull-right">
                            <ul class="nav">
                                <li class="divider-vertical"></li>
                            <li><a href="{{url_for("userbase.login")}}">{{_('Login')}}</a></li>
                            <li><a href="{{url_for("userbase.register")}}">{{_('Register')}}</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <ul class="nav pull-right"> 
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{user.fullname}}<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('profile', username = user.username)}}">{{_('my profile')}}</a></li>
                                    <li><a href="{{url_for('userbase.logout')}}">{{_('Log out')}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
      
        {% block container %}
        <div class="container" id="content">
            {% for m in get_flashes(with_categories=True) %}
                <div class="alert alert-{{m[0]}}">
                <strong>{{m[1]}}</strong><br>
                </div>
            {% endfor %}

    
            {% block content %}
            {% block main_content %}
            {% endblock %}
            {% endblock %}
        </div> <!-- /container -->
        <footer>
            <div class="container">
                <a href="/impressum.html">Impressum</a>
            </div>
        </footer>
        {% endblock %}

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{url_for("static", filename="js/jquery.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/underscore.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.form.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.metadata.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/autonumeric.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.numeric.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.colorbox-min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.validate.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/messages_de.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.ui.min.js")}}"></script>
        <script src="{{url_for("static", filename="js/jquery.ui.datepicker-de.js")}}"></script>
        
        <script>
            $(document).ready( function () {
                $('.popinfo').popover();
                $('.ttip').tooltip();
                $(".btn-toggle").click( function () {
                    $(this).button("toggle");
                    var f = $(this).attr("for");
                    if ($(this).hasClass("active")) {
                        $(this).find(".icon").addClass("icon-ok");
                        $("#"+f).attr("value", "1");
                    } else {
                        $(this).find(".icon").removeClass("icon-ok");
                        $("#"+f).attr("value", "0");
                    }
                    var form = $(this).parents("form.live");
                    $(this).parents("form.live").submit();
                    return false;
                });

                $(".iframebox").colorbox({'iframe' : true, width: "60%", height: "500px"});
                $('input.currency').autoNumeric({aSep: '', aDec: ',', aSign: '', wEmpty: 'zero'});
                $(".numeric").numeric(false, function() { alert("Bitte nur Zahlen"); this.value = ""; this.focus(); });
                $( ".datepicker" ).datepicker();                                                                                   
            });
        </script>
        {% block js %}
        {% endblock %}
        {% block js2 %}
        {% endblock %}

        <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script src="{{url_for("static", filename="js/bootstrap-dropdown.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-transition.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-modal.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-button.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-tab.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-tooltip.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-alert.js")}}"></script>
        <script src="{{url_for("static", filename="js/bootstrap-popover.js")}}"></script>
        <script src="{{url_for("static", filename="js/forms.js")}}"></script>
        <script src="{{url_for("uploader.static", filename="js/fileuploader.js")}}"></script>
                
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script>
            $(document).ready(function() {
                $(".confirm").click( function() {
                    return confirm($("body").data("i18n-areyousure"));
                });
            });
        </script>
                
        {# 
        <script src="/static/js/bootstrap-alert.js"></script>
        <script src="/static/js/bootstrap-scrollspy.js"></script>
        <script src="/static/js/bootstrap-collapse.js"></script>
        <script src="/static/js/bootstrap-carousel.js"></script>
        <script src="/static/js/bootstrap-typeahead.js"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ga}}']);
          _gaq.push (['_gat._anonymizeIp']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        #}

    </body>
</html>
