{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title|d('Barcamptools')}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    
        <!-- Le styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" media="screen" href="{{url_for("static", filename="/css/public_components.css")}}" />
        <link href="{{url_for("static", filename="css/font-awesome.css")}}" rel="stylesheet">
        <link href="{{url_for("static", filename="css/bootstrap.css")}}" rel="stylesheet">
        <link href="{{url_for("static", filename="css/colorbox.css")}}" rel="stylesheet">
        <link href="{{url_for("uploader.static", filename="css/fileuploader.css")}}" rel="stylesheet">

        <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />


        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>

        {% block css %}
        {# for additional css #}
        {% endblock %}

        <link rel="shortcut icon" href="{{url_for("static", filename="img/favicon.ico")}}" type="image/x-icon">
        <link rel="icon" href="{{url_for("static", filename="img/favicon.ico")}}" type="image/x-icon">
 
        <script src="{{url_for("static", filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/angular.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/TweenMax.min.js')}}"></script>

        {% block head %}
        {% endblock %}
    
    </head>

    <body data-i18n-areyousure="{{_("Are you sure?")}}" 
        id="{{body_id|d('')}}"
        data-lang="{{LANGUAGE}}" class="{{body_class}}">
        {% block navbar %}
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="{{'container' if not container=="full" else "container-fluid"}}">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for("index")}}">Camper</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                            <li class="active"><a href="/">{{_('Home')}}</a></li>
                        {% for page in menu_pages %}
                            <li>
                                <a href="{{url_for("page", page_slug=page.slug)}}">{{page.menu_title}}</a>
                            </li>
                        {% endfor %}
                        {% for action in top_actions %}
                            <li class="{{'active' if action.active}}">
                                <a href="{{action.url}}">{{action.name}}</a>
                            </li>
                        {% endfor %}
                        <li><a target="blog" href="http://blog.barcamptools.eu">{{_('Blog')}}</a></li>
                        <li><a target="feedback" href="http://yourpart.eu/p/camper">{{_('Ideas / Feedback')}}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                            <li class="divider-vertical"></li>
                        {% if LANGUAGE=="de" %}
                            <li><a href="{{url_for("index", __l='en', _append=True)}}">english</a></li>
                        {% else %}
                            <li><a href="{{url_for("index", __l='de', _append=True)}}">deutsch</a></li>
                        {% endif %}
                        {% if is_main_admin %}
                            <li><a href="{{url_for("admin_index")}}"><b>{{_('ADMINISTRATION')}}</b></a></li>
                        {% endif %}
                        {% if not logged_in %}
                            <li class="divider-vertical"></li>
                            <li><a href="{{url_for("userbase.login")}}">{{_('Login')}}</a></li>
                            <li><a href="{{url_for("userbase.register")}}">{{_('Register')}}</a></li>
                        {% else %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{user.fullname}}<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('profile', username = user.username)}}">{{_('my profile')}}</a></li>
                                    <li><a href="{{url_for('userbase.pw_set')}}">{{_('Change Password')}}</a></li>
                                    <li><a href="{{url_for('userbase.logout')}}">{{_('Log out')}}</a></li>
                                    {# TBD later
                                    <li class="divider"></li>
                                    <li><a><strong>{{_('my barcamps')}}</strong></a></li>
                                    {% for bc in user_barcamps %}
                                        <li><a href="{{url_for("barcamps.index", slug = bc.slug)}}">{{bc.name}}</a></li>
                                    {% endfor %}
                                    #}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- container fluid -->
        </nav><!-- navbar -->

        <div style="position: fixed; z-index: 100; bottom: 0; background: #a32; color: white; text-align: center; padding: 10px; width: 100%; border-top: 1px solid #921; font-size: 20px; margin-top: 5px; font-weight: bold;">Dies ist eine Preview von Camper 2.0, bitte nicht benutzen! <a target="bugs" style="color: #aef;" href="http://yourpart.eu/p/camperbugs">Fehler bitte hier eintragen</a></div>

        {% endblock %}


        {% block topcontainer %}
        {% endblock %}

        
        {% block container %}
        <div class="container" id="content">
            {% block flashes %}
            {% for m in get_flashes(with_categories=True) %}
                <div class="alert alert-{{m[0]}}">
                <strong>{{m[1]}}</strong><br>
                </div>
            {% endfor %}
            {% endblock %}

            {% block content %}
            {% block main_content %}

            {% endblock %}
            {% endblock %}
        </div> <!-- /container -->

        {% block footer %}
        <footer role="contentinfo">
            <div class="container">
                <a href="/impressum.html">Impressum</a>
            </div>
        </footer>
        {% endblock %}

        {% endblock %} 

        <script type="text/javascript" src="{{url_for('static', filename='js/fileuploader.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/public_components.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>

        {% if locale == "de" %}
            <script src="{{url_for('static', filename='js/parsley-de.js')}}"></script>
        {% elif locale == "en" %}
            <script src="{{url_for('static', filename='js/parsley-en.js')}}"></script>
        {% endif %}
        
        <script>
            $(document).ready( function () {
                $('.popinfo').popover();
                $('.ttip').tooltip();
                $(".btn-toggle").click( function () {
                    $(this).button("toggle");
                    var f = $(this).attr("for");
                    if ($(this).hasClass("active")) {
                        $(this).find(".icon").addClass("icon-ok");
                        $("#"+f).attr("value", "1");
                    } else {
                        $(this).find(".icon").removeClass("icon-ok");
                        $("#"+f).attr("value", "0");
                    }
                    var form = $(this).parents("form.live");
                    $(this).parents("form.live").submit();
                    return false;
                });
            });
        </script>

        {% block js %}
        {% endblock %}
        {% block js2 %}
        {% endblock %}
                
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script>
            $(document).ready(function() {
                $(".confirm").click( function() {
                    return confirm($("body").data("i18n-areyousure"));
                });
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </body>
</html>
