{% set menu="blog" %}
{% extends "_m/barcamps/master.html" %}

{% block og %}
    <meta property="og:title" content="{{view.entry.title|striptags}}" />
    <meta property="og:site_name" content="{{barcamp.name|striptags}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{view.title_image_url()}}" />
    <meta property="og:description" content="{{view.entry.content[:1000]|textify}}" />
{% endblock %}


{% block main_content %}
    <article class="blogentry">
        <header>
            <h2>{{view.entry.title}}</h2>
            <div class="byline">{{dateformat(view.entry.published)}}</div>
        </header>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
            <defs>
              <filter id="blur">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
              </filter>
            </defs>
        </svg>

        {% if view.has_gallery %}
            <div class="gallerycontainer">
                <div class="gallery">
                    <ul class="gallery-pictures">
                        {% for image in view.gallery.images %}
                            <li class="gallery-picture">{{ image_tag(image.image, 'gallery', class="gallery-image", alt=image.tag, title=image.title)  }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="gallery-pagination">
                    {% for image in view.gallery.images -%}
                        <button class="gallery-pagination-dot"></button>
                    {% endfor %} 
                </div>
            </div>
        {% else %}
            {{view.title_image(class="img-responsive blog-image")}}
        {% endif %}

        <div class="content">
            {{view.entry.content | safe}}
        </div>
        {% if is_admin %}
            <div class="admin">
                <a class="btn btn-default btn-xs" href="{{url_for("blog.edit", slug=slug, eid = view.entry._id)}}"><i class="fa fa-pencil"></i> {{_("Edit")}}</a>
                {% if view.entry.workflow=="draft" %}
                    <a class="btn btn-primary btn-xs" href="{{url_for("blog.edit", slug=slug, eid = view.entry._id)}}"><i class="fa fa-pencil"></i> {{_("Edit")}}</a>
                {% endif %}
            </div>
        {% endif %}
        <div id="share-area" style="margin-top: 20px;">
            <a class="share-on-facebook btn btn-sm btn-primary" data-url="{{url|e}}"><i class="fa fa-facebook"></i> {{_('Share on Facebook')}}</a>
            <a 
                href="https://twitter.com/intent/tweet?text={{view.entry.title|e}}&amp;hashtags={{barcamp.hashtag|e}}&amp;via={{barcamp.twitter|e}}&amp;related=barcamptools&amp;url={{url}}" 
                class="btn btn-sm btn-info"><i class="fa fa-twitter"></i> {{_('Share on Twitter')}}</a>
        </div>    

    </article>
{% endblock %}

