{% set menu="blog" %}
{% set active_action = "blog" %}
{% extends "_m/barcamps/master.html" %}

{% block main_content %}

<div id="bloglisting">
    <h1 class="sr-only">{{_('Blog Entries')}}</h1>
    {% for view in views %}
        <article class="blogentry">
            <header>
                {% if is_admin and view.entry.workflow == 'draft' %}
                    <span class="label label-warning pull-right">{{_('Draft')}}</span>
                {% endif %}
                <h2><a href="{{url_for('blog.entry', slug = slug, blog_slug = view.entry.slug)}}">{{view.entry.title}}</a>
                </h2>
                <div class="byline">{{dateformat(view.entry.published)}}</div>
            </header>
            {{view.title_image(class="img-responsive blog-image pull-left")}}
            <div class="content">
                {{view.entry.content | safe}}
            </div>
            {% if is_admin %}
                <div class="admin">
                    <a class="btn btn-default btn-xs" href="{{url_for("blog.edit", slug=slug, eid = view.entry._id)}}"><i class="fa fa-pencil"></i> {{_("Edit")}}</a>
                    {% if view.entry.workflow=="draft" %}
                        <a class="btn btn-primary btn-xs" href="{{url_for("blog.edit", slug=slug, eid = view.entry._id)}}"><i class="fa fa-pencil"></i> {{_("Edit")}}</a>
                    {% endif %}
                </div>
            {% endif %}
        </article>
    {% endfor %}
</div>
{% endblock %}

