@font-face {
  font-family: 'Syncopate';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Syncopate-700/Syncopate-700.eot');
  src: url('../fonts/Syncopate-700/Syncopate-700.eot?#iefix') format('embedded-opentype'),
       local('Syncopate Bold'),
       local('Syncopate-700'),
       url('../fonts/Syncopate-700/Syncopate-700.woff2') format('woff2'),
       url('../fonts/Syncopate-700/Syncopate-700.woff') format('woff'),
       url('../fonts/Syncopate-700/Syncopate-700.ttf') format('truetype'),
       url('../fonts/Syncopate-700/Syncopate-700.svg#Syncopate') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('../fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('../fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('../fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('../fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('../fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Open-Sans-italic/Open-Sans-italic.eot');
  src: url('../fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Italic'),
       local('Open-Sans-italic'),
       url('../fonts/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
       url('../fonts/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
       url('../fonts/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
       url('../fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-regular/Roboto-regular.eot');
  src: url('../fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('../fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('../fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('../fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Roboto-700/Roboto-700.eot');
  src: url('../fonts/Roboto-700/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('../fonts/Roboto-700/Roboto-700.woff2') format('woff2'),
       url('../fonts/Roboto-700/Roboto-700.woff') format('woff'),
       url('../fonts/Roboto-700/Roboto-700.ttf') format('truetype'),
       url('../fonts/Roboto-700/Roboto-700.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.eot');
  src: url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto Condensed'),
       local('Roboto-Condensed-regular'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.woff2') format('woff2'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.woff') format('woff'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.ttf') format('truetype'),
       url('../fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.eot');
  src: url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Condensed Bold'),
       local('Roboto-Condensed-700'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.woff2') format('woff2'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.woff') format('woff'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.ttf') format('truetype'),
       url('../fonts/Roboto-Condensed-700/Roboto-Condensed-700.svg#RobotoCondensed') format('svg');
}

