/* http://meyerweb.com/eric/tools/css/reset/                                                                                                                                                                
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@page {
    margin: 2cm;
    size: a4 portrait;
    @frame content {
            left: 40pt;
            right: 40pt;
            top: 40pt;
            width: auto;
            height: auto;
            /*-pdf-frame-border: 1;*/
    }
}
.sessionslot {
    padding-bottom: 20pt;
    border-bottom: 2px solid black;
}
.room, .slot {
    display: block;
    font-family: arial, sans-serif;
    font-weight: bold;
}
.slot {
    font-size: 180pt;
}
div.room {
    padding: 30pt;
    font-size: 20pt;
}
.room .byline {
    display: block;
    font-size: 30pt;
    color: #222;
    font-weight: normal;
}
.room .capacity {
    display: block;
    padding-bottom: 20pt;
    color: #666;
    font-size: 16pt;
}

.slot .byline {
    padding: 0 100pt;
    display: block;
    width: 90%;
    color: #444;
    font-size: 50pt;
}
