{% extends "barcamp/master.html" %}

{% block main_content %}

    {# ****************************** Logo Upload Modal **************************************** #}
    <div class="modal logo-upload hide fade" id="logo-upload">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Logo hochladen</h3>
        </div>
        <div class="modal-body">
            <form class="uploadform">
            <div class="upload-widget" action="{{url_for('barcamp_logo_upload', slug = slug)}}">
                <button class="uploadbutton btn btn-primary pull-left">Datei auswählen</button>
                <br>
                <div class="help" style="clear: both">
                    Du kannst hier ein Logo hochladen, das maximal 940 Pixel breit sein sollte. Erlaubte Formate sind JPEG, GIF und PNG.
                    Die maximal erlaubte Dateigröße beträgt 10MB. Beachte, dass das Bild nicht automatisch skaliert wird, ein richtig skaliertes
                    Bild wird also das beste Ergebnis liefern.
                </div>
                <div class="progressbar">
                    <div class="progress progress-striped active hide">
                        <div class="bar" style="width: 0%%;"></div>
                    </div>
                </div>
                <div class="filenamebox hide">
                    File: <span class="upload-label-filename"></span>
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Schlie&szlig;en</a>
            <!--<a href="#" class="btn btn-primary">Save changes</a>-->
        </div>
    </div>

    {# ****************************** Sponsor Modal **************************************** #}
    <div class="modal sponsor-upload hide fade" id="sponsor-upload">
        <form id="sponsor-form" class="horizontal-form" method="POST" action="{{url_for("barcamp_sponsors", slug=slug)}}">  
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Neuen Sponsor anlegen</h3>
        </div>
        <div class="modal-body">
            {{ formmacros.form_field(sponsor_form.name, class="required span5")}}
            {{ formmacros.form_field(sponsor_form.url, class="url required span5")}}
            {{ formmacros.form_field(sponsor_form.image, class="span5", label="Bild hochladen", url=url_for("asset_upload"), postproc="sponsor")}}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Schlie&szlig;en</a>
            <input type="submit" class="btn btn-primary" value="Anlegen">
        </div>
        </form>
    </div>

    {# ************************************ Main Module **************************************** #}
        <div class="row">
            <div class="span8">
                <div class="widget-show">
                    <div class="description">
                        {{description|md}}
                    </div>
                </div>
                <div class="widget-edit hide">
                    not showing
                </div>
            </div>
            <div class="span4">
            </div>
        </div>
        <!-- sponsoren -->
        <div class="row sponsors">
            <div class="span12">
            {% for sponsor in view.sponsors %}
                <div class="sponsor action-container">
                    <a href="{{sponsor.url}}">{{sponsor.image}}</a>
                    <div class="sponsor-edit actions">
                        <a 
                            data-confirm="Sind Sie sicher?" 
                            data-url="{{url_for('barcamp_sponsors', slug = slug)}}" 
                            data-idx="{{sponsor.idx}}"
                            role="button" 
                            class="asset-delete btn btn-mini btn-danger">
                            <i class="icon icon-trash icon-white"></i></a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}

{% block js %}
    <script src="{{url_for("static", filename="js/barcamp.js")}}"></script>
{% endblock %}
