{% extends "barcamp/master.html" %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        var proj4326 = new OpenLayers.Projection("EPSG:4326");
        var projmerc = new OpenLayers.Projection("EPSG:900913");

        var obj = $("#locationPickerMap")

        var lat = obj.data("lat")
        var lon = obj.data("lng")

        var mapCenterPositionAsLonLat = new OpenLayers.LonLat(lon, lat);
        var mapCenterPositionAsMercator = mapCenterPositionAsLonLat.transform(proj4326, projmerc);
        var mapZoom = 15;

        map = new OpenLayers.Map("locationPickerMap", {
           controls: [
              new OpenLayers.Control.KeyboardDefaults(),
              new OpenLayers.Control.Navigation(),
              new OpenLayers.Control.PanZoomBar(),
              new OpenLayers.Control.MousePosition()
            ],
            maxExtent:
              new OpenLayers.Bounds(-20037508.34,-20037508.34,
                           20037508.34, 20037508.34),
            numZoomLevels: 18,
            maxResolution: 156543,
            units: 'm',
            projection: projmerc,
            displayProjection: proj4326
        } );

        var osmLayer = new OpenLayers.Layer.OSM("OpenStreetMap");
        map.addLayer(osmLayer);
        map.setCenter(mapCenterPositionAsMercator, mapZoom);
        

        // location picker
        var locationPickerLayer = new OpenLayers.Layer.Vector("LocationPicker Marker");
        map.addLayer(locationPickerLayer);
        var locationPickerPoint = new OpenLayers.Geometry.Point(mapCenterPositionAsMercator.lon, mapCenterPositionAsMercator.lat);
        var locationPickerMarkerStyle = {externalGraphic: '{{url_for('static', filename='img/poi.png')}}', graphicHeight: 37, graphicWidth: 32, graphicYOffset: -37, graphicXOffset: -16 };
        var locationPickerVector = new OpenLayers.Feature.Vector(locationPickerPoint, null, locationPickerMarkerStyle);
        locationPickerLayer.addFeatures(locationPickerVector);

        var dragFeature = new OpenLayers.Control.DragFeature(locationPickerLayer,
        {
          onComplete:  function( feature, pixel ) {
            var selectedPositionAsMercator = new OpenLayers.LonLat(locationPickerPoint.x, locationPickerPoint.y);
            var selectedPositionAsLonLat = selectedPositionAsMercator.transform(projmerc, proj4326);

            document.getElementById("poiLatitude").value = selectedPositionAsLonLat.lat;
            document.getElementById("poiLongitude").value = selectedPositionAsLonLat.lon;
          }
        });
        var is_admin = obj.data("admin")=="1";
        if (is_admin) {
            map.addControl(dragFeature);
            dragFeature.activate();
        }

    });
    
</script>
{% endblock %}

{% block main_content %}
    <h1>{{_('Event location')}}</h1>
    <div data-lng="{{barcamp.location.lng}}" 
         data-lat="{{barcamp.location.lat}}"  
         data-admin="{{1 if is_admin else 0}}"
         id="locationPickerMap" class="span9" style="height:600px"></div>
{% endblock %}
