{% extends "master.html" %}
{% import "macros.html" as formmacros with context %}

{% block content %}
    <div id="barcamp">
    
        <div class="header action-container">
            {% if logo %}
                {% if is_admin %}
                <div class="image-edit actions">
                    <a href="#logo-upload" role="button" data-toggle="modal" class="btn btn-mini"><i class="icon icon-picture"></i> Logo ändern</a>
                    <a 
                        data-confirm="Sind Sie sicher?" 
                        data-url="{{url_for('barcamp_logo_delete', slug = slug)}}" 
                        role="button" 
                        class="asset-delete btn btn-mini btn-danger">
                        <i class="icon icon-trash icon-white"></i> Logo löschen</a>
                </div>
                {% endif %}
                {{view.logo}}
            {% else %}
                {% if is_admin %}
                <a href="#logo-upload" role="button" data-toggle="modal" class="actions btn btn-mini"><i class="icon icon-picture"></i> Logo hochladen</a>
                {% endif %}
                <h1 class="logo">{{name}}</h1>
            {% endif %}
        </div>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="{{url_for('barcamp', slug=slug)}}">Info</a></li>
                    <li><a href="{{url_for('barcamp_sessions', slug = slug)}}">Sessionvorschläge</a></li>

                    {# here a user can add up to 3 additional menu points/pages defined in slot "menu" for a barcamp #}
                    {% for page in view.pages_for("menu") %}
                        <li>
                            <a href="{{url_for("barcamp_page", slug=slug, page_slug=page.slug)}}">{{page.menu_title}}</a>
                        </li>
                    {% endfor %}

                    {% if view.can_add_menu_page %}
                        <li>
                            <a href="{{url_for('barcamp_page_add', slug=slug, slot='menu')}}" class="iframebox"><i class="icon-plus icon-white"></i> Neue Seite</a>
                        </li>
                    {% endif %}

                </ul>
                {% if is_admin %}
                <ul class="pull-right nav info">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Bearbeiten<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="#logo-upload" role="button" data-toggle="modal"><i class="icon icon-picture"></i> Logo hochladen</a></li>
                            <li><a href="{{url_for("barcamp_edit", slug=slug)}}"><i class="icon icon-pencil"></i> Informationen bearbeiten</a></li>
                            <li><a href="#sponsor-upload" role="button" data-toggle="modal"><i class="icon icon-plus"></i> Neuer Sponsor</a></li>
                            <li><a href="{{url_for("barcamp_permissions", slug=slug)}}"><i class="icon icon-list"></i> Zugang und Berechtigungen</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="subline">{{start_date.strftime("%d.%m.%Y")}} - {{end_date.strftime("%d.%m.%Y")}}, {{location.name}}</div>

        {% block outer_content %}
        <div id="main-content" class="row">
            <div class="span9">
            {% block main_content %}
            {% endblock %}
            </div>
            <div class="span3">
                <div class="widget well">
                    <a href="#">Interessenten: {{barcamp.subscribers|length}}</a><br>
                    <a href="#">Teilnehmer: {{barcamp.event.participants|length}}</a><br>
                    <a href="#">Warteliste: {{barcamp.event.waiting_list|length}}</a><br>
                </div>

                <div class="widget">
                </div>
            </div>
        </div>
        {% endblock %}

       
        {% macro barcamp_buttons() -%}
        {% if logged_in %}
        <div id="barcamp-buttons">
            {% if not view.is_subscriber %}
                {% if not view.is_participant and not view.is_on_waiting_list %}
                    <form method="post" action="{{url_for('barcamp_register', slug = slug)}}" class="pull-left">
                        <button class="btn btn-large btn-info">Als Teilnehmer anmelden</button>
                    </form>
                {% endif %}
                <form method="post" action="{{url_for('barcamp_subscribe', slug = slug)}}" class="pull-right">
                    <button class="btn btn-large btn-info">Als Interessent anmelden</button>
                </form>
            {% else %}
                {% if not view.is_participant and not view.is_on_waiting_list %}
                    <form method="post" action="{{url_for('barcamp_subscribe', slug = slug)}}" class="pull-right">
                        <button class="btn btn-large btn-danger">Als Interessent abmelden</button>
                    </form>
                    <form method="post" action="{{url_for('barcamp_register', slug = slug)}}" class="pull-left">
                        <button class="btn btn-large btn-info">Als Teilnehmer anmelden</button>
                    </form>
                {% else %}
                    <form method="post" action="{{url_for('barcamp_unregister', slug = slug)}}" class="pull-left">
                        <button class="btn btn-small btn-danger">Streiche mich von der Teilnehmerliste</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    {%- endmacro %}
    {{ barcamp_buttons() }}
        

    </div><!-- #barcamp -->
    <footer>
    </footer>
{% endblock %}

