{% extends "master.html" %}
{% import "macros.html" as formmacros with context %}
{% block head %}
    <meta property="og:title" content="{{barcamp.name|striptags}}" />
    <meta property="og:site_name" content="{{barcamp.name|striptags}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url_for("barcamp", slug = slug, _full=True)}}" />
    <meta property="og:image" content="http://" />
    <meta property="og:description" content="{{barcamp.description}}" />
    {% if barcamp.fbAdminId %}
    <meta property="fb:admins" content="{{barcamp.fbAdminId}}" />
    {% endif %}

    <link rel="index" title="{{barcamp.name}}" href="{{url_for("barcamp", slug = slug)}}" />
    <link rel="canonical" href="{{url_for("barcamp", slug = slug, _full=True)}}" />
    <meta name="description" content="{{barcamp.description|striptags}}" />
    
{% endblock %}

{% block content %}

    {# ****************************** Logo Upload Modal **************************************** #}
    <div class="modal logo-upload hide fade" id="logo-upload">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Logo hochladen</h3>
        </div>
        <div class="modal-body">
            <form class="uploadform">
            <div class="upload-widget" data-url="{{url_for('barcamp_logo_upload', slug = slug)}}">
                <button class="uploadbutton btn btn-primary pull-left">Datei auswählen</button>
                <br>
                <div class="help" style="clear: both">
                    Du kannst hier ein Logo hochladen, das maximal 940 Pixel breit sein sollte. Erlaubte Formate sind JPEG, GIF und PNG.
                    Die maximal erlaubte Dateigröße beträgt 10MB. Beachte, dass das Bild nicht automatisch skaliert wird, ein richtig skaliertes
                    Bild wird also das beste Ergebnis liefern.
                </div>
                <div class="progressbar">
                    <div class="progress progress-striped active hide">
                        <div class="bar" style="width: 0%%;"></div>
                    </div>
                </div>
                <div class="filenamebox hide">
                    File: <span class="upload-label-filename"></span>
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Schlie&szlig;en</a>
            <!--<a href="#" class="btn btn-primary">Save changes</a>-->
        </div>
    </div>

    {# ****************************** Sponsor Modal **************************************** #}
    <div class="modal sponsor-upload hide fade" id="sponsor-upload">
        <form id="sponsor-form" class="horizontal-form" method="POST" action="{{url_for("barcamp_sponsors", slug=slug)}}">  
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Neuen Sponsor anlegen</h3>
        </div>
        <div class="modal-body">
            {{ formmacros.form_field(sponsor_form.name, class="required span5")}}
            {{ formmacros.form_field(sponsor_form.url, class="url required span5")}}
            {{ formmacros.form_field(sponsor_form.image, class="span5", label="Bild hochladen", url=url_for("asset_upload", slug=slug), postproc="sponsor")}}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Schlie&szlig;en</a>
            <input type="submit" class="btn btn-primary" value="Anlegen">
        </div>
        </form>
    </div>
    <div id="barcamp">
    
        <div class="header action-container">
            {% if logo %}
                {% if is_admin %}
                <div class="image-edit actions">
                    <a href="#logo-upload" role="button" data-toggle="modal" class="btn btn-mini"><i class="icon icon-picture"></i> Logo ändern</a>
                    <a 
                        data-confirm="Sind Sie sicher?" 
                        data-url="{{url_for('barcamp_logo_delete', slug = slug)}}" 
                        role="button" 
                        class="asset-delete btn btn-mini btn-danger">
                        <i class="icon icon-trash icon-white"></i> Logo löschen</a>
                </div>
                {% endif %}
                {{view.logo}}
            {% else %}
                {% if is_admin %}
                    <a href="#logo-upload" role="button" data-toggle="modal" class="actions btn btn-mini"><i class="icon icon-picture"></i> Logo hochladen</a>
                {% endif %}
                <h1 class="logo">{{name}}</h1>
            {% endif %}
        </div>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="{{url_for('barcamp', slug=slug)}}">Info</a></li>
                    <li><a href="{{url_for('barcamp_sessions', slug = slug)}}">Sessionvorschläge</a></li>
                    {% if planning_pad_public or is_admin %}
                        <li><a href="{{url_for('barcamp_planning_pad', slug=slug)}}">Planung</a></li>
                    {% endif %}
                    <li><a href="{{url_for('barcamp_documentation_pad', slug=slug)}}">Dokumentation</a></li>

                    {# here a user can add up to 3 additional menu points/pages defined in slot "menu" for a barcamp #}
                    {% for page in view.pages_for("menu") %}
                        <li>
                            <a href="{{url_for("barcamp_page", slug=slug, page_slug=page.slug)}}">{{page.menu_title}}</a>
                        </li>
                    {% endfor %}

                    {% if view.can_add_menu_page %}
                        <li>
                            <a href="{{url_for('barcamp_page_add', slug=slug, slot='menu')}}" class="iframebox"><i class="icon-plus icon-white"></i> Neue Seite</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>

        {% block outer_content %}
        <div id="main-content" class="row">
            <div class="span9">
                {% if is_admin and not barcamp.public%}
                <form action="{{url_for('barcamp_permissions', slug=slug)}}" method="POST">
                    <input type="hidden" name="public" value="1">
                    <div class="well">
                        <button class="pull-right btn btn-small btn-success">Öffentlich machen</button>
                        <b style="color: red">Dieses Barcamp ist im Moment nicht öffentlich einsehbar!</b>
                    </div>
                </form>
                {% endif %}

                {% block main_content %}
                {% endblock %}

            </div>
            <div class="span3">
                {% if is_admin %}
                <div class="widget widget-admin">
                    <h4>{{_('Administration')}}</h4>
                    <ul class="nav nav-list">
                        <li><a href="#logo-upload" role="button" data-toggle="modal"><i class="icon icon-picture"></i> Logo hochladen</a></li>
                        <li><a href="{{url_for("barcamp_edit", slug=slug)}}"><i class="icon icon-pencil"></i> Informationen bearbeiten</a></li>
                        <li><a href="#sponsor-upload" role="button" data-toggle="modal"><i class="icon icon-plus"></i> Neuer Sponsor</a></li>
                        <li><a href="{{url_for("barcamp_permissions", slug=slug)}}"><i class="icon icon-list"></i> Zugang und Berechtigungen</a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="widget">
                    <h4>{{_('location')}}</h4>
                    <a href="{{url_for('barcamp_location', slug=slug)}}"><strong>{{barcamp.location.name}}</strong></a><br>
                    {{barcamp.location.street}}<br>
                    {{barcamp.location.zip}} {{barcamp.location.city}}<br>
                    {% if barcamp.location.email %}<a href="mailto:{{barcamp.location.email}}">{{barcamp.location.email}}</a><br>{% endif %}
                    {% if barcamp.location.url %}<a href="{{barcamp.location.url}}">{{barcamp.location.url}}</a><br>{% endif %}
                    {% if barcamp.location.phone %}{{barcamp.location.phone}}<br>{% endif %}
                    <hr>
                    <a class="btn btn-mini" href="{{url_for('barcamp_location', slug=slug)}}">{{_('Show on map')}}</a>
                </div>
                <div class="widget">
                    <h4>{{_('People')}}</h4>
                    {{barcamp.subscribers|length}} {{_('subscribers')}} <br>
                    {{barcamp.event.participants|length}} {{_('participants')}} <br>
                    {{barcamp.event.waiting_list|length}} {{_('on waiting list')}} <br>
                    <a class="btn btn-mini" href="{{url_for("barcamp_userlist", slug = slug)}}">{{_("view participants")}}</a>
                </div>
                <div class="widget socialbuttons">
                    <div class="fb-button">
                        <div class="fb-like" data-href="{{url_for("barcamp", slug = slug)}}" 
                            data-send="false" 
                            data-layout="box_count" 
                            data-width="60" 
                            data-show-faces="false"></div>
                    </div>
                    <div class="twitter-button">
                        <a href="https://twitter.com/share" 
                           class="twitter-share-button" 
                           data-url="{{_('Join us at')}} {{url_for("barcamp", slug = slug)}}" 
                           data-text="{{barcamp.title|striptags}}" 
                           data-via="{{barcamp.twitter}}" 
                           data-count="vertical"
                           data-hashtags="{{barcamp.hashtag}}">Tweet</a>
                    </div>
                </div>

                <div class="widget">
                </div>
            </div>
        </div>
        {% endblock %}

       
        {% macro barcamp_buttons() -%}
        {% if logged_in %}
        <div id="barcamp-buttons">
            {% if not view.is_subscriber %}
                {% if not view.is_participant and not view.is_on_waiting_list %}
                    <form method="post" action="{{url_for('barcamp_register', slug = slug)}}" class="pull-left">
                        <button class="btn btn-large btn-info">Als Teilnehmer anmelden</button>
                    </form>
                {% endif %}
                <form method="post" action="{{url_for('barcamp_subscribe', slug = slug)}}" class="pull-right">
                    <button class="btn btn-large btn-info">Als Interessent anmelden</button>
                </form>
            {% else %}
                {% if not view.is_participant and not view.is_on_waiting_list %}
                    <form method="post" action="{{url_for('barcamp_subscribe', slug = slug)}}" class="pull-right">
                        <button class="btn btn-large btn-danger">Als Interessent abmelden</button>
                    </form>
                    <form method="post" action="{{url_for('barcamp_register', slug = slug)}}" class="pull-left">
                        <button class="btn btn-large btn-info">Als Teilnehmer anmelden</button>
                    </form>
                {% else %}
                    <form method="post" action="{{url_for('barcamp_unregister', slug = slug)}}" class="pull-left">
                        <button class="btn btn-small btn-danger">Streiche mich von der Teilnehmerliste</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    {%- endmacro %}
    {{ barcamp_buttons() }}
        

    </div><!-- #barcamp -->
    <footer>
    </footer>
    {% block js %}
        <script src="{{url_for("static", filename="js/barcamp.js")}}"></script>
        {% block bcjs %}
        {% endblock %}
    {% endblock %}
{% endblock %}

