{% extends "barcamp/master.html" %}

{% block outer_content %}
    {% if show_public_switch and is_admin %}
        {% if barcamp.planning_pad_public %}
            <form class="alert alert-success" method="POST" action="{{url_for("barcamp_planning_pad_toggle", slug = barcamp.slug)}}">
                {{_("This planning pad is public.")}}
                <button class="txt-danger btn btn-mini btn-danger">Make private</button>
            </form>
        {% else %}
            <form class="alert alert-danger" method="POST" action="{{url_for("barcamp_planning_pad_toggle", slug = barcamp.slug)}}">
                {{_("This planning pad is private.")}}
                <button class="txt-danger btn btn-mini btn-success">Make public</button>
            </form>
        {% endif %}
    {% endif %}
    <iframe name='embed_readwrite' src='http://yourpart.eu/p/{{pad}}?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false' width=940 height=400></iframe>

{% endblock %}
