{% extends M.userbase.config.master_template %}
{% import "macros.html" as formmacros with context %}                                                                                                           

{% block container %}
    <div class="container">
        {% for m in get_flashes(with_categories=True) %}
            <div class="alert alert-{{m[0]}}">
            <strong>{{m[1]}}</strong><br>
            </div>
        {% endfor %}
    </div>
<div class="login-container">


    <div class="content clearfix">
        <h1>{{_('Echte Camper loggen sich ein')}}</h1>
        <form class="horizontal-form validate" method="POST" action="{{url}}">  
            {{ formmacros.form_field(form.username, placeholder=_("Benutzername")) }}
            {{ formmacros.form_field(form.password, placeholder=_("Passwort")) }}
            <input type="submit" class="pull-right btn-signin" value="{{_('Einloggen')}}">
            {% if M.userbase.config.use_remember %}
                {{formmacros.form_field(form.remember, label="{{_('Eingeloggt bleiben')}}")}}
            {% endif %}
            <a href="{{url_for("userbase.pw_forgot")}}">{{_('Passwort vergessen?')}}</a>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
        <script>
            $(document).ready(function() {
                $("#username").focus();
            })
        </script>
{% endblock %}
