{% extends M.userbase.config.master_template %}
{% import "_m/userbase/macros.html" as formmacros with context %}                                                                                                           
{% block content %}
    <div class="row">
        <div class="span8">
            <div class="form">
                <h2>{{_('Registration')}}</h2>
                <form class="boxform horizontal-form validate" method="POST" action="{{url}}">
                    {% for field in form %}
                        {{ formmacros.form_field(field) }}
                    {% endfor %}                                                                                                                                                         

                    <fieldset class="form-actions">
                        <div class="input">
                            <input type="submit" class="btn btn-primary btn-large" value="{{_('Register')}}">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="span4">
            {% if use_double_opt_in %}
                <div>
                    <h4>{{_('Mission activation email?')}}</h4>
                    <a href="{{url_for('.activation_code')}}">{{_('Please send me a new activation code')}}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

