{% extends "master.html" %}

{% import "macros.html" as formmacros with context %}
{% block content %}
    {% block title %}
        <h1>{{_('Edit public profile')}}</h1>
    {% endblock %}
    <form class="" data-parsley-validate method="POST" action="{{url}}" id="profile-edit-form"> 
        <input type="hidden" name="user_id" value="{{user_id}}">
        <div class="row">
            <div class="col-md-6">
                
                {{ formmacros.form_field(form.fullname, required = True, input_class="input-lg") }}
                {{ formmacros.form_field(form.username, required = True, placeholder="username", input_class="input-sm", **{'data-parsley-type' : 'alphanum'}) }}


                {{ formmacros.form_field(form.bio, rows=4) }}
                {{ formmacros.form_field(form.organisation, maxlength=100) }}
                <div class="form-group">
                    <label for="twitter">{{_('Twitter-Account')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="twitter-prepend">@</span>
                        {{form.twitter(placeholder=_('Username'), class="form-control", maxlength=100, **{'aria-describedby': 'twitter-prepend'})}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="facebook">{{_('Facebook-Account')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="facebook-prepend">https://facebook.com/</span>
                        {{form.facebook(class="form-control", maxlength=50, **{'aria-describedby': 'facebook-prepend'})}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                {{ formmacros.form_field(form.image, input_class="",
                    label=_("Upload Profile Image"), delete_label=_("Delete"), revert_label=("Revert"),
                    preview_url = image,
                    missing_tag = '<div class="profile-image-userlist missing"><i class="fa fa-user"></i></div>',
                    upload_url=url_for("profile_image_upload"))}}
            </div>
        </div>
        {% block action %}
            <input type="submit" class="btn btn-large btn-primary" value="{{_('Update Profile')}}">
            <a href="{{url_for('profile', username = user.username)}}" class="btn btn-large btn-default">{{_('Cancel')}}</a>
            <a href="{{url_for('user_delete')}}" style="float: right;" class="btn btn-large btn-danger">{{_('Delete your account')}}</a>
        {% endblock %}
    </form>
{% endblock %}
{% block js %}
    <script src="{{url_for("static", filename="js/uploader.js")}}"></script>
{% endblock %}
