{% extends "master.html" %}
{% block content %}
    <div class="row" id="user-profile">
        <div class="col-md-4">
            {% if image %}
                <img src="{{image}}" class="profile-image" />
            {% else %}
                <div class="profile-image-dummy"><i class="fa fa-user"></i> </div>
            {% endif %}
        </div>
        <div class="col-md-8">

            <div class="user-profile-box">
                <h2>{{profile_user.fullname|e}}
                    <small>
                        {% if profile_user.has_organisation %}
                            {{profile_user.organisation|e}}
                        {% endif %}
                    </small>
                </h2>
                <h4>{{_('About me')}}</h4>
                {% if profile_user.has_bio %}
                    {{profile_user.bio|e}}
                {% else %}
                    <div class="text-muted">{{_('This could be a text about you')}}</div>
                {% endif %}

                <h4>Twitter</h4>
                {% if profile_user.has_twitter %}
                    <a href="{{profile_user.twitter_link}}">@{{profile_user.twitter|e}}</a>
                {% else %}
                    <p class="text-muted">{{_('not given')}}</p>
                {% endif %}

                <h4>Facebook</h4>
                {% if profile_user.has_facebook %}
                    <a href="{{profile_user.facebook}}">{{profile_user.facebook|e}}</a>
                {% else %}
                    <p class="text-muted">{{_('not given')}}</p>
                {% endif %}
            </div>

            {% if is_logged_in_user %}
                <a href="{{url_for('profile_edit')}}" class="btn btn-info"><i class="icon-pencil icon-white"></i> {{_('Edit Profile')}}</a>
                <a href="{{url_for('userbase.pw_set')}}" class="btn btn-danger"><i class="icon-lock icon-white"></i> {{_('Change Password')}}</a>
            {% endif %}
        </div>
    </div>


{% endblock %}
