{% extends M.userbase.config.master_template %}
{% import "macros.html" as formmacros with context %}                                                                                                           
{% block content %}
    <div id="main-content" class="row">
        <div class="col-lg-9" id="content-area">
            <div class="form">
                <h2>{{_('Please register')}}</h2>
                <form class="boxform form-horizontal validate" method="POST" action="{{url}}" role="form">
                    {% for field in form %}
                        {{ formmacros.form_field(field, label_class="col-lg-2", input_class="col-lg-6", required =field.flags.required)}}
                    {% endfor %}

                    <fieldset class="form-actions">
                        <div class="input">
                            <input type="submit" class="btn btn-primary btn-large" value="{{_('Register')}}">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-3">
            {% if use_double_opt_in %}
                <div class="widget">
                    <h4>{{_('missing activation email?')}}</h4>
                    <a href="{{url_for('.activation_code')}}">{{_('Please send me a new activation code')}}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
