body#admin {
    .navbar-side {
        //background: #b84d45;
        margin-top: 25px;
        border: 1px solid #d0d0d0;
        li {
            background: #f0e0c0;
            display: block;
            float: none;
            border-bottom: 1px solid #c0c0c0;
            text-transform: uppercase;
            overflow: auto;
            line-height: 1.5;
            i {
                width: 20px;
                display: block;
                float: left;
            }
            span {
                display: block;
                float: left;
            }
            a {
                font-size: 12px;
                font-weight: normal;
                color: #333;
            }
        }
        li.active {
            background: darken(#f0e0c0, 10);
        }
        li.back-to-bc {
            background: white;

        }
    }
    .progress {
        margin-top: 10px;
        display: none;
    }
    .barcamp-delete li a {
        font-size: 14px;
        color: white;
        font-weight: bold;
    }
    fieldset {
        margin-bottom: 30px;
    }

    form {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .bigpanel {
        padding: 10px;
        border: 1px solid #e0e0e0;
        margin: 10px;
        border-radius: 5px;

        text-align: center;
        .number {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }
    }
    .big-button-panel {
        .btn;
        .btn-info;
        a {
            font-size: 30px;
        }
    }
    #sessionboard-container {
        padding: 30px;
    }
    .sortable-placeholder {
        background: darken(#fff, 20%);
        #gradient > .striped();
        .box-shadow(inset 10px 0px 12px -2px rgba(0,0,0,0.15));
    }
    .sorted {
    }

    // event screeb
    #backbutton {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
