// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "dropdowns.less";
@import "button-groups.less";
@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
@import "progress-bars.less";
@import "media.less";
@import "list-group.less";
@import "panels.less";
@import "responsive-embed.less";
@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";
@import "carousel.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

@import "admin.less";


/*
** general rules
*/

html, body {
    background: #f8f8f8 url("/static/img/bg.png") repeat repeat;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", sans-serif;

}

//
// profile page
//

.profile-image {
    border: 1px solid #ccc;
    padding: 1px;
}

.profile-image-mini {
    width: 32px;
    height: 32px;
    border: 1px solid #333;
}


/* 
** homepage barcamp listing
*/

#barcamp-listing {
    h2 {
        margin-bottom: 20px;
    }
}

article.barcamp {
    border: 1px solid #c0c0c0; 
    background: white;
    img {
        width: 100%;
        height: auto;
    }
    margin-bottom: 30px;
    h3 {
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 2px;
        a {
            color: #0af;
        }
    }
    &.barcamp-full {
        .logo, .description {
            .make-lg-column(6);
        }
    }
    &.barcamp-small {
        border: none;
        background: transparent;
        img { display: none; }
        .description {
            .make-lg-column(12);
        }
    }
    .byline {
        color: #aaa;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
        line-height: 1;
        span {
            display: block;
            margin-left: 20px;
        }
    }    
    i {
        float: left;
        display: block;
        width: 20px;
    }
    @media (max-width: @screen-md-max) {
        h3 {
            margin-top: 10px;
            margin-left: 10px;
        }
        .byline {
            margin-left: 10px;
        }
    }

}

/*
** barcamp detail seite
*/

#barcamp {
    h1.logo {
        img { width: 100%; }
    }
    .header {
        border: 1px solid #f0f0f0;
        border-bottom: none;
    }
    .sponsors {                                                                                                                                  
        margin-top: 20px;
    }

    .sponsor {
        float: left;
        width: 220px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

}

#barcamp-details {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    p {
        margin-bottom: 20px;
    }
}

.widget-join {
    form, div {
        margin-bottom: 5px;
    }

}
//
// social stuff                                                                                                                                  
//

.socialmedia {
    overflow: auto;
}
.twitter-button, .fb-button, .gplus-button {
    float: left;
    display: block;
    margin-right: 10px;
    width: 60px;
    height: 30px;
    overflow: hidden;
}
.fb-button {
    margin-top: 1px;
}


/*
 * session proposals
 */

.votecontainer {
    //.border-radius(10px);
    border: 1px solid #ddd;
    padding: 5px;
    margin-left: 7px;
    background: white                                                                                                                                                                    ;
    float: left;
    width: 50px;
    text-align: center;
    margin-right: 10px;
    .vote-login {
        font-size: 80%;
        color: #888;
    }
}

#sort-buttons {
    margin-bottom: 20px;
    .clearfix;
    display: block;
}

.votes {
    font-size: 130%;
    font-weight: bold;
}
.vote {
    width: 24px;
    height: 38px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 30px;
}
.vote.active {
    color: #fa0;
    //background: url(../img/star.png) no-repeat;
}
.vote.inactive {
    color: #ccc;
    //background: url(../img/star_empty.png) no-repeat;
}


#sessionproposals {
    article {
        overflow: auto;
        margin-bottom: 50px;
        .media-body {
            width: 100%;
        }
    }
    .byline {
        font-size: 90%;
        color: #888;
        margin: -5px 0 10px 0;
    }
    .comment-area {
        width: 100%;
    }
    .media.comments {
        .profile-image {
            width: 32px;
            height: 32px;
        }
        .media-body {
            display: block;
        }
    }
    .description {
        font-size: 16px;
        margin-bottom: 0;
    }
    .buttons {
        margin-top: 5px;
    }
    footer {
        color: #aaa;
        font-size: 12px;
    }
    .comments {
        
    }
}

//
// participants list
//

#userlist {
    .media-list.participants {
        h5 {
            margin: 0;
            padding: 0;
            line-height: 1.3;
        }
        
    }
    section {
        .clearfix;
    }
    .participant-actions {
        position: absolute;
        top: 5px;
        z-index: 100;
    }

    .anon {
        font-size: 120px;
        color: #d0d0d0;
    }

    .profile-image-userlist {
    }


    section {
        margin-bottom: 30px;
    }
    section#participants {
        margin-top: 30px;
    }

    ul.participants {
        .list-unstyled;
        clear: both;
        li {
            .pull-left;
            width: 90px;
        }
        margin-left: 0;
        padding: 0;
        .participant {
            margin-bottom: 5px;
            position: relative;
            font-size: 16px;
            .participant-avatar {
                .pull-left;
                img {
                    width: 80px !important;
                    height: 80px !important;
                    margin-right: 10px;
                }
            }
            .participant-name {
                display: block;
                margin-top: 3px;
            }
            .participant-me {
                font-weight: bold;
            }
        }
    }
    .tooltip-inner {
        white-space: nowrap;
        padding: 5px 15px;
    }
}

.login-container {
    width: 400px;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    margin: 50px auto 0 auto;
    .content {
        padding: 16px 28px 23px;
    }

    form {
        margin: 0 0 18px;
        #field-username, #field-password {
            label {
                display: none;
            }
        }
        input[type=text], input[type=password] {
            width: 320px;
            font-size: 130%;
            padding: 10px 9px;
            .box-shadow(inset 0 2px 2px rgba(0,0,0,.1)); // Redeclare so transitions work
            margin: 10px 0;
        }
        #field-remember {
            padding-top: 5px;
        }
    }

    .btn-signin {
        .btn();
        .btn-lg();
        .btn-warning();
        width: 130px;
    }
}

.btn-inline { display: inline-block; }
.btn-inline.hide { display: none; }


footer {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 30px;
    padding-top: 20px;
}


//
// registration screen
//
#eventlist {
    .list-unstyled;
    h4 {
        margin: 0;
        padding: 0;
    }
    address {
        margin-bottom: 0;
    }
    & > li {
        //border-bottom: 1px solid #e0e0e0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    button {
        .btn-lg;
    }
    .error {
        overflow: auto;
        display: block;
        color: #a00;
        padding: 3px;
        margin-top: 3px;
    }
    .actions {
        min-height: 70px;
    }
    button, .pselect {
        display: none;
    }

}

.nodescription {
    margin-bottom: 30px;
}

section {
    margin-bottom: 50px;
}

//
// eventlisting
//

#user-events-content {
    .event-name, .event-date {
        display: block;
    }
    .event-date {
        display: block;
        font-size: 10px;
    }

    .plabel {
        .label;
        font-size: 9px;
        display: none;
    }
    .plabel-going { .label-success; }
    .plabel-maybe { .label-info; }
    .plabel-waiting { .label-warning; }
    .plabel-not { .label-default; }

    .actions {
        margin-top: 30px;
    }

    .sessiontable {
        .slot {
            padding: 10px;
            position: relative;
            padding-bottom: 40px;
        }
        h5 {
            margin: 0 0 4px 0;
        }
        .moderators {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: #606060;
            font-size: 12px;
        }
        th {
            background: #202020;
            color: #f0f0f0;
        }
        margin-top: 30px;
        .description { display: none;}
    }
}







